In [15]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
from config import db_password

In [3]:
#Create the path to your file directory and variables for the files.
file_dir = '/Users/spencerramsey/Documents/UT_Bootcamp/Group-8-final-project/Spencer/Old-Resources'

# Soil Data
soil_file = f'{file_dir}/soil_data.csv'


soil_metadata = pd.read_csv(soil_file, low_memory=False)

In [4]:
soil_metadata.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,1003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,1007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,1009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [5]:
# Importing Kaggle Covid/Weather Data set for we
covid_file = f'{file_dir}/US_counties_COVID19_health_weather_data.csv'

In [6]:
covid_metadata = pd.read_csv(covid_file, low_memory=False)
covid_metadata.head()

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,Illinois,17031,1,0.0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23

In [7]:
list(covid_metadata.columns.values)

['date',
 'county',
 'state',
 'fips',
 'cases',
 'deaths',
 'stay_at_home_announced',
 'stay_at_home_effective',
 'lat',
 'lon',
 'total_population',
 'area_sqmi',
 'population_density_per_sqmi',
 'num_deaths',
 'years_of_potential_life_lost_rate',
 'percent_fair_or_poor_health',
 'average_number_of_physically_unhealthy_days',
 'average_number_of_mentally_unhealthy_days',
 'percent_low_birthweight',
 'percent_smokers',
 'percent_adults_with_obesity',
 'food_environment_index',
 'percent_physically_inactive',
 'percent_with_access_to_exercise_opportunities',
 'percent_excessive_drinking',
 'num_alcohol_impaired_driving_deaths',
 'num_driving_deaths',
 'percent_driving_deaths_with_alcohol_involvement',
 'num_chlamydia_cases',
 'chlamydia_rate',
 'teen_birth_rate',
 'num_uninsured',
 'percent_uninsured',
 'num_primary_care_physicians',
 'primary_care_physicians_rate',
 'num_dentists',
 'dentist_rate',
 'num_mental_health_providers',
 'mental_health_provider_rate',
 'preventable_hospitalization_rate',
 'percent_with_annual_mammogram',
 'percent_vaccinated',
 'high_school_graduation_rate',
 'num_some_college',
 'population',
 'percent_some_college',
 'num_unemployed_CHR',
 'labor_force',
 'percent_unemployed_CHR',
 'percent_children_in_poverty',
 'eightieth_percentile_income',
 'twentieth_percentile_income',
 'income_ratio',
 'num_single_parent_households_CHR',
 'num_households_CHR',
 'percent_single_parent_households_CHR',
 'num_associations',
 'social_association_rate',
 'annual_average_violent_crimes',
 'violent_crime_rate',
 'num_injury_deaths',
 'injury_death_rate',
 'average_daily_pm2_5',
 'presence_of_water_violation',
 'percent_severe_housing_problems',
 'severe_housing_cost_burden',
 'overcrowding',
 'inadequate_facilities',
 'percent_drive_alone_to_work',
 'num_workers_who_drive_alone',
 'percent_long_commute_drives_alone',
 'life_expectancy',
 'num_deaths_2',
 'age_adjusted_death_rate',
 'num_deaths_3',
 'child_mortality_rate',
 'num_deaths_4',
 'infant_mortality_rate',
 'percent_frequent_physical_distress',
 'percent_frequent_mental_distress',
 'percent_adults_with_diabetes',
 'num_hiv_cases',
 'hiv_prevalence_rate',
 'num_food_insecure',
 'percent_food_insecure',
 'num_limited_access',
 'percent_limited_access_to_healthy_foods',
 'num_drug_overdose_deaths',
 'drug_overdose_mortality_rate',
 'num_motor_vehicle_deaths',
 'motor_vehicle_mortality_rate',
 'percent_insufficient_sleep',
 'num_uninsured_2',
 'percent_uninsured_2',
 'num_uninsured_3',
 'percent_uninsured_3',
 'other_primary_care_provider_rate',
 'percent_disconnected_youth',
 'average_grade_performance',
 'average_grade_performance_2',
 'median_household_income',
 'percent_enrolled_in_free_or_reduced_lunch',
 'segregation_index',
 'segregation_index_2',
 'homicide_rate',
 'num_deaths_5',
 'suicide_rate_age_adjusted',
 'num_firearm_fatalities',
 'firearm_fatalities_rate',
 'juvenile_arrest_rate',
 'average_traffic_volume_per_meter_of_major_roadways',
 'num_homeowners',
 'percent_homeowners',
 'num_households_with_severe_cost_burden',
 'percent_severe_housing_cost_burden',
 'population_2',
 'percent_less_than_18_years_of_age',
 'percent_65_and_over',
 'num_black',
 'percent_black',
 'num_american_indian_alaska_native',
 'percent_american_indian_alaska_native',
 'num_asian',
 'percent_asian',
 'num_native_hawaiian_other_pacific_islander',
 'percent_native_hawaiian_other_pacific_islander',
 'num_hispanic',
 'percent_hispanic',
 'num_non_hispanic_white',
 'percent_non_hispanic_white',
 'num_not_proficient_in_english',
 'percent_not_proficient_in_english',
 'percent_female',
 'num_rural',
 'percent_rural',
 'num_housing_units',
 'num_households_CDC',
 'num_below_poverty',
 'num_unemployed_CDC',
 'per_capita_income',
 'num_no_highschool_diploma',
 'num_age_65_and_older',
 'num_age_17_and_younger',
 'num_disabled',
 'num_single_parent_households_CDC',
 'num_minorities',
 'num_limited_english_abilities',
 'num_multi_unit_housing',
 'num_mobile_homes',
 'num_overcrowding',
 'num_households_with_no_vehicle',
 'num_institutionalized_in_group_quarters',
 'percent_below_poverty',
 'percent_unemployed_CDC',
 'percent_no_highschool_diploma',
 'percent_age_65_and_older',
 'percent_age_17_and_younger',
 'percent_disabled',
 'percent_single_parent_households_CDC',
 'percent_minorities',
 'percent_limited_english_abilities',
 'percent_multi_unit_housing',
 'percent_mobile_homes',
 'percent_overcrowding',
 'percent_no_vehicle',
 'percent_institutionalized_in_group_quarters',
 'percentile_rank_below_poverty',
 'percentile_rank_unemployed',
 'percentile_rank_per_capita_income',
 'percentile_rank_no_highschool_diploma',
 'percentile_rank_socioeconomic_theme',
 'percentile_rank_age_65_and_older',
 'percentile_rank_age_17_and_younger',
 'percentile_rank_disabled',
 'percentile_rank_single_parent_households',
 'percentile_rank_household_comp_disability_theme',
 'percentile_rank_minorities',
 'percentile_rank_limited_english_abilities',
 'percentile_rank_minority_status_and_language_theme',
 'percentile_rank_multi_unit_housing',
 'percentile_rank_mobile_homes',
 'percentile_rank_overcrowding',
 'percentile_rank_no_vehicle',
 'percentile_rank_institutionalized_in_group_quarters',
 'percentile_rank_housing_and_transportation',
 'percentile_rank_social_vulnerability',
 'km_to_closest_station',
 'CALL',
 'ELEV_M',
 'station_id',
 'station_name',
 'mean_temp',
 'min_temp',
 'max_temp',
 'dewpoint',
 'sea_level_pressure',
 'station_pressure',
 'visibility',
 'wind_speed',
 'max_wind_speed',
 'wind_gust',
 'precipitation',
 'precip_flag',
 'fog',
 'rain',
 'snow',
 'hail',
 'thunder',
 'tornado',
 'mean_temp_3d_avg',
 'mean_temp_5d_avg',
 'mean_temp_10d_avg',
 'mean_temp_15d_avg',
 'max_temp_3d_avg',
 'max_temp_5d_avg',
 'max_temp_10d_avg',
 'max_temp_15d_avg',
 'min_temp_3d_avg',
 'min_temp_5d_avg',
 'min_temp_10d_avg',
 'min_temp_15d_avg',
 'dewpoint_3d_avg',
 'dewpoint_5d_avg',
 'dewpoint_10d_avg',
 'dewpoint_15d_avg',
 'date_stay_at_home_announced',
 'date_stay_at_home_effective']

In [8]:
# Cleaning DF to just weather related data
weather_columns = ['fips',
 'date',
 'total_population',
 'area_sqmi',
 'population_density_per_sqmi',
 'mean_temp',
 'min_temp',
 'max_temp',
 'dewpoint',
 'sea_level_pressure',
 'station_pressure',
 'visibility',
 'wind_speed',
 'max_wind_speed',
 'wind_gust',
 'precipitation',
 'precip_flag',
 'fog',
 'rain',
 'snow',
 'hail',
 'thunder',
 'tornado',
 'mean_temp_3d_avg',
 'mean_temp_5d_avg',
 'mean_temp_10d_avg',
 'mean_temp_15d_avg',
 'max_temp_3d_avg',
 'max_temp_5d_avg',
 'max_temp_10d_avg',
 'max_temp_15d_avg',
 'min_temp_3d_avg',
 'min_temp_5d_avg',
 'min_temp_10d_avg',
 'min_temp_15d_avg',
 'dewpoint_3d_avg',
 'dewpoint_5d_avg',
 'dewpoint_10d_avg',
 'dewpoint_15d_avg',]

In [9]:
weather_df = covid_metadata[weather_columns]
weather_df.head()

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,...,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,53061,2020-01-21,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,...,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,53061,2020-01-22,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,...,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,53061,2020-01-23,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,...,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,17031,2020-01-24,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,...,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,53061,2020-01-24,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,...,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

In [10]:
list(soil_metadata.columns.values)

['fips',
 'lat',
 'lon',
 'elevation',
 'slope1',
 'slope2',
 'slope3',
 'slope4',
 'slope5',
 'slope6',
 'slope7',
 'slope8',
 'aspectN',
 'aspectE',
 'aspectS',
 'aspectW',
 'aspectUnknown',
 'WAT_LAND',
 'NVG_LAND',
 'URB_LAND',
 'GRS_LAND',
 'FOR_LAND',
 'CULTRF_LAND',
 'CULTIR_LAND',
 'CULT_LAND',
 'SQ1',
 'SQ2',
 'SQ3',
 'SQ4',
 'SQ5',
 'SQ6',
 'SQ7']

In [11]:
# FIPs codes for Texas and California.
# Consolidating data down to just 2 states to reduce amount of data and focus in analysis
tx_ca_fips = [6001,
6003,
6005,
6007,
6009,
6011,
6013,
6015,
6017,
6019,
6021,
6023,
6025,
6027,
6029,
6031,
6033,
6035,
6037,
6039,
6041,
6043,
6045,
6047,
6049,
6051,
6053,
6055,
6057,
6059,
6061,
6063,
6065,
6067,
6069,
6071,
6073,
6075,
6077,
6079,
6081,
6083,
6085,
6087,
6089,
6091,
6093,
6095,
6097,
6099,
6101,
6103,
6105,
6107,
6109,
6111,
6113,
6115,
48001,
48003,
48005,
48007,
48009,
48011,
48013,
48015,
48017,
48019,
48021,
48023,
48025,
48027,
48029,
48031,
48033,
48035,
48037,
48039,
48041,
48043,
48045,
48047,
48049,
48051,
48053,
48055,
48057,
48059,
48061,
48063,
48065,
48067,
48069,
48071,
48073,
48075,
48077,
48079,
48081,
48083,
48085,
48087,
48089,
48091,
48093,
48095,
48097,
48099,
48101,
48103,
48105,
48107,
48109,
48111,
48113,
48115,
48117,
48119,
48121,
48123,
48125,
48127,
48129,
48131,
48133,
48135,
48137,
48139,
48141,
48143,
48145,
48147,
48149,
48151,
48153,
48155,
48157,
48159,
48161,
48163,
48165,
48167,
48169,
48171,
48173,
48175,
48177,
48179,
48181,
48183,
48185,
48187,
48189,
48191,
48193,
48195,
48197,
48199,
48201,
48203,
48205,
48207,
48209,
48211,
48213,
48215,
48217,
48219,
48221,
48223,
48225,
48227,
48229,
48231,
48233,
48235,
48237,
48239,
48241,
48243,
48245,
48247,
48249,
48251,
48253,
48255,
48257,
48259,
48261,
48263,
48265,
48267,
48269,
48271,
48273,
48275,
48277,
48279,
48281,
48283,
48285,
48287,
48289,
48291,
48293,
48295,
48297,
48299,
48301,
48303,
48305,
48307,
48309,
48311,
48313,
48315,
48317,
48319,
48321,
48323,
48325,
48327,
48329,
48331,
48333,
48335,
48337,
48339,
48341,
48343,
48345,
48347,
48349,
48351,
48353,
48355,
48357,
48359,
48361,
48363,
48365,
48367,
48369,
48371,
48373,
48375,
48377,
48379,
48381,
48383,
48385,
48387,
48389,
48391,
48393,
48395,
48397,
48399,
48401,
48403,
48405,
48407,
48409,
48411,
48413,
48415,
48417,
48419,
48421,
48423,
48425,
48427,
48429,
48431,
48433,
48435,
48437,
48439,
48441,
48443,
48445,
48447,
48449,
48451,
48453,
48455,
48457,
48459,
48461,
48463,
48465,
48467,
48469,
48471,
48473,
48475,
48477,
48479,
48481,
48483,
48485,
48487,
48489,
48491,
48493,
48495,
48497,
48499,
48501,
48503,
48505,
48507]

In [12]:
tx_ca_soil_test = soil_metadata[soil_metadata["fips"].isin(tx_ca_fips)]

In [13]:
tx_ca_soil_test["fips"].describe()

count      312.000000
mean     40409.871795
std      16442.162008
min       6001.000000
25%      48040.500000
50%      48196.000000
75%      48351.500000
max      48507.000000
Name: fips, dtype: float64

In [ ]:
# Exporting Cleaned Soil Data for Postgres upload back up
tx_ca_soil_test.to_csv(f'{file_dir}/tx_ca_soil_clean_data.csv',header=True,index=False)

In [17]:
#Create DB connection
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Drought"
# Create the database engine
engine = create_engine(db_string)
# Save df to SQL table using SQLalchemy
tx_ca_soil_test.to_sql(name='soil_data', con=engine, if_exists='replace')

In [18]:
# Importing Drought Test Data
test_file = f'{file_dir}/test_timeseries.csv'
test_time_series_df = pd.read_csv(test_file, low_memory=False)

In [19]:
test_time_series_df.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,...,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
1,1001,2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,...,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2,1001,2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,...,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
3,1001,2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,...,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
4,1001,2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,...,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN

In [20]:
# Importing Drought Test Data
dtt_file = f'{file_dir}/test_timeseries.csv'
drought_time_test_metadata = pd.read_csv(dtt_file, low_memory=False)
drought_time_test_metadata.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,...,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
1,1001,2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,...,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2,1001,2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,...,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
3,1001,2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,...,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
4,1001,2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,...,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN

In [21]:
# Importing Drought Training Data
dttrain_file = f'{file_dir}/train_timeseries.csv'
drought_time_train_metadata = pd.read_csv(dttrain_file, low_memory=False)
drought_time_train_metadata.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN

In [22]:
# Importing Drought Validation Data
dtv_file = f'{file_dir}/validation_timeseries.csv'
drought_time_val_metadata = pd.read_csv(dtv_file, low_memory=False)
drought_time_val_metadata.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2017-01-01,32.50,100.02,10.47,14.69,14.47,14.47,17.68,10.53,...,14.63,2.14,2.71,1.52,1.19,4.40,5.96,2.25,3.71,NaN
1,1001,2017-01-02,63.52,100.04,12.75,17.96,17.75,17.75,20.30,16.14,...,17.85,2.75,4.31,1.60,2.71,5.50,8.16,4.05,4.11,NaN
2,1001,2017-01-03,18.82,99.69,9.74,14.24,13.44,13.44,18.48,9.29,...,14.06,2.25,3.73,1.64,2.09,4.80,7.27,2.54,4.72,2.0
3,1001,2017-01-04,0.01,100.02,5.21,8.10,3.86,3.88,11.74,2.12,...,8.08,2.63,3.95,1.34,2.60,4.98,6.16,3.36,2.80,NaN
4,1001,2017-01-05,0.01,99.89,4.54,5.91,2.20,2.22,13.07,-0.18,...,5.85,1.76,2.76,0.47,2.28,3.43,4.70,0.66,4.04,NaN

In [23]:
drought_time_test_metadata.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,326340.000000
mean,3.067038e+04,2.938845e+00,9.666175e+01,8.223259e+00,1.294575e+01,7.782536e+00,7.793077e+00,1.861224e+01,7.737146e+00,1.087509e+01,1.298156e+01,3.528208e+00,5.177723e+00,1.880345e+00,3.297381e+00,5.486035e+00,7.804205e+00,3.060228e+00,4.743982e+00,0.413486
std,1.497911e+04,6.719112e+00,5.443289e+00,4.925266e+00,1.085940e+01,1.033316e+01,1.010450e+01,1.140387e+01,1.063210e+01,3.850620e+00,1.106347e+01,1.834560e+00,2.618564e+00,1.310424e+00,1.971088e+00,2.291324e+00,2.869980e+00,2.071117e+00,2.202233e+00,0.838403
min,1.001000e+03,0.000000e+00,6.675000e+01,1.000000e-01,-3.857000e+01,-4.154000e+01,-3.859000e+01,-3.133000e+01,-4.546000e+01,1.200000e-01,-4.123000e+01,2.600000e-01,6.000000e-01,0.000000e+00,2.300000e-01,5.200000e-01,1.040000e+00,0.000000e+00,4.500000e-01,0.000000
25%,1.904450e+04,0.000000e+00,9.586000e+01,3.960000e+00,4.530000e+00,-1.600000e-01,-1.100000e-01,1.018000e+01,-5.000000e-01,8.140000e+00,4.410000e+00,2.120000e+00,3.110000e+00,9.400000e-01,1.820000e+00,3.790000e+00,5.670000e+00,1.410000e+00,3.160000e+00,0.000000
50%,2.921200e+04,2.100000e-01,9.830000e+01,7.060000e+00,1.389000e+01,8.250000e+00,8.090000e+00,2.014000e+01,8.080000e+00,1.078000e+01,1.388000e+01,3.140000e+00,4.680000e+00,1.620000e+00,2.820000e+00,5.100000e+00,7.310000e+00,2.720000e+00,4.300000e+00,0.000000
75%,4.600750e+04,2.540000e+00,9.996000e+01,1.222000e+01,2.223000e+01,1.685000e+01,1.671000e+01,2.787000e+01,1.680000e+01,1.353000e+01,2.236000e+01,4.540000e+00,6.710000e+00,2.530000e+00,4.300000e+00,6.820000e+00,9.450000e+00,4.320000e+00,5.860000e+00,0.406525
max,5.604300e+04,2.493400e+02,1.038800e+02,2.252000e+01,4.033000e+01,2.705000e+01,2.700000e+01,4.830000e+01,3.232000e+01,2.965000e+01,4.347000e+01,1.748000e+01,2.497000e+01,1.651000e+01,2.207000e+01,2.058000e+01,2.993000e+01,1.922000e+01,2.634000e+01,5.000000

In [24]:
drought_time_train_metadata.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,2.756796e+06
mean,3.067038e+04,2.644145e+00,9.665578e+01,7.816178e+00,1.280146e+01,6.951072e+00,6.986916e+00,1.868141e+01,7.411665e+00,1.126974e+01,1.288900e+01,3.564013e+00,5.195993e+00,1.928879e+00,3.267113e+00,5.525151e+00,7.811798e+00,3.130077e+00,4.681721e+00,8.245298e-01
std,1.497911e+04,6.226305e+00,5.447994e+00,4.694305e+00,1.092674e+01,1.014551e+01,1.009116e+01,1.154487e+01,1.057680e+01,4.005165e+00,1.114961e+01,1.862297e+00,2.627969e+00,1.351713e+00,1.947028e+00,2.321549e+00,2.861210e+00,2.122751e+00,2.171263e+00,1.223727e+00
min,1.001000e+03,0.000000e+00,6.612000e+01,1.200000e-01,-3.734000e+01,-3.770000e+01,-3.746000e+01,-3.220000e+01,-4.596000e+01,3.000000e-02,-3.823000e+01,2.500000e-01,5.400000e-01,0.000000e+00,1.600000e-01,4.000000e-01,7.000000e-01,0.000000e+00,3.200000e-01,0.000000e+00
25%,1.904450e+04,0.000000e+00,9.584000e+01,3.780000e+00,4.450000e+00,-9.600000e-01,-9.200000e-01,1.027000e+01,-7.000000e-01,8.420000e+00,4.340000e+00,2.140000e+00,3.110000e+00,9.600000e-01,1.810000e+00,3.790000e+00,5.680000e+00,1.450000e+00,3.130000e+00,0.000000e+00
50%,2.921200e+04,1.800000e-01,9.830000e+01,6.840000e+00,1.402000e+01,7.570000e+00,7.580000e+00,2.040000e+01,8.030000e+00,1.124000e+01,1.404000e+01,3.140000e+00,4.670000e+00,1.660000e+00,2.800000e+00,5.120000e+00,7.310000e+00,2.770000e+00,4.250000e+00,0.000000e+00
75%,4.600750e+04,2.160000e+00,9.996000e+01,1.135000e+01,2.188000e+01,1.552000e+01,1.552000e+01,2.787000e+01,1.614000e+01,1.408000e+01,2.207000e+01,4.600000e+00,6.750000e+00,2.580000e+00,4.250000e+00,6.880000e+00,9.460000e+00,4.410000e+00,5.770000e+00,1.189600e+00
max,5.604300e+04,2.345900e+02,1.043200e+02,2.292000e+01,4.139000e+01,2.755000e+01,2.755000e+01,4.991000e+01,3.380000e+01,3.461000e+01,4.385000e+01,2.369000e+01,3.628000e+01,1.720000e+01,2.825000e+01,2.835000e+01,4.273000e+01,2.087000e+01,3.243000e+01,5.000000e+00

In [25]:
drought_time_val_metadata.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,323232.000000
mean,3.067038e+04,2.945218e+00,9.668289e+01,8.209934e+00,1.313680e+01,7.626656e+00,7.631953e+00,1.884739e+01,7.903998e+00,1.094340e+01,1.321793e+01,3.533742e+00,5.165298e+00,1.904352e+00,3.260947e+00,5.486969e+00,7.762958e+00,3.104674e+00,4.658297e+00,0.538601
std,1.497911e+04,6.883588e+00,5.443892e+00,4.905189e+00,1.093575e+01,1.049740e+01,1.035683e+01,1.151619e+01,1.064708e+01,3.951253e+00,1.113432e+01,1.845010e+00,2.607319e+00,1.342821e+00,1.927159e+00,2.310433e+00,2.851491e+00,2.115034e+00,2.155684e+00,0.916711
min,1.001000e+03,0.000000e+00,6.686000e+01,1.600000e-01,-3.329000e+01,-3.701000e+01,-3.358000e+01,-2.859000e+01,-3.815000e+01,2.000000e-02,-3.548000e+01,3.700000e-01,6.000000e-01,0.000000e+00,2.200000e-01,4.600000e-01,8.700000e-01,0.000000e+00,3.000000e-01,0.000000
25%,1.904450e+04,0.000000e+00,9.588000e+01,3.920000e+00,4.670000e+00,-4.400000e-01,-4.800000e-01,1.035000e+01,-4.400000e-01,8.140000e+00,4.540000e+00,2.120000e+00,3.110000e+00,9.400000e-01,1.810000e+00,3.770000e+00,5.640000e+00,1.420000e+00,3.110000e+00,0.000000
50%,2.921200e+04,1.900000e-01,9.832000e+01,7.260000e+00,1.458000e+01,8.510000e+00,8.420000e+00,2.081000e+01,8.670000e+00,1.090000e+01,1.461000e+01,3.140000e+00,4.670000e+00,1.640000e+00,2.810000e+00,5.120000e+00,7.300000e+00,2.760000e+00,4.220000e+00,0.000000
75%,4.600750e+04,2.500000e+00,9.998000e+01,1.218000e+01,2.251000e+01,1.671000e+01,1.665000e+01,2.824000e+01,1.701000e+01,1.364000e+01,2.269000e+01,4.560000e+00,6.710000e+00,2.560000e+00,4.250000e+00,6.830000e+00,9.420000e+00,4.390000e+00,5.760000e+00,1.000000
max,5.604300e+04,2.433200e+02,1.040600e+02,2.198000e+01,4.062000e+01,2.684000e+01,2.684000e+01,5.003000e+01,3.304000e+01,3.319000e+01,4.325000e+01,2.494000e+01,3.176000e+01,1.629000e+01,2.319000e+01,2.952000e+01,3.738000e+01,2.085000e+01,2.890000e+01,5.000000

In [26]:
tx_test = drought_time_test_metadata[drought_time_test_metadata["fips"].isin(tx_ca_fips)]
tx_test.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,32760.000000
mean,40409.871795,1.986021,96.216333,9.102738,18.438624,9.913830,9.926625,25.249499,12.541534,12.707966,18.888764,4.029950,5.944089,2.133776,3.810305,5.881682,8.385312,3.279981,5.105341,0.890052
std,16415.827231,5.890570,4.717200,4.784877,8.959268,9.034183,8.774252,9.367895,8.845992,4.092900,9.483549,1.685859,2.338099,1.365713,1.817589,2.169116,2.610490,2.141784,2.159186,1.137131
min,6001.000000,0.000000,73.790000,0.520000,-15.760000,-26.920000,-20.550000,-10.190000,-23.870000,0.310000,-20.850000,0.470000,0.940000,0.000000,0.360000,0.760000,1.310000,0.000000,0.610000,0.000000
25%,48040.500000,0.000000,93.070000,4.990000,11.230000,3.000000,3.050000,18.160000,5.390000,9.930000,11.140000,2.730000,4.190000,1.060000,2.530000,4.270000,6.540000,1.480000,3.530000,0.000000
50%,48196.000000,0.030000,97.540000,8.090000,19.180000,10.290000,10.090000,26.150000,12.710000,12.870000,19.480000,3.830000,5.740000,1.970000,3.490000,5.700000,8.270000,3.000000,4.760000,0.218850
75%,48351.500000,0.890000,100.080000,13.050000,26.450000,17.740000,17.600000,32.960000,20.620000,15.610000,27.180000,5.130000,7.400000,2.960000,4.700000,7.310000,9.940000,4.790000,6.300000,1.705600
max,48507.000000,249.340000,103.320000,21.800000,40.330000,26.710000,26.620000,48.080000,32.320000,28.460000,43.470000,15.090000,22.580000,10.930000,16.070000,19.590000,28.570000,13.600000,19.650000,5.000000

In [27]:
tx_train = drought_time_train_metadata[drought_time_train_metadata["fips"].isin(tx_ca_fips)]

In [28]:
tx_train.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,276744.000000
mean,4.040987e+04,2.041661e+00,9.623395e+01,8.848427e+00,1.809202e+01,9.293358e+00,9.330828e+00,2.490349e+01,1.217804e+01,1.272545e+01,1.856343e+01,4.029788e+00,5.902891e+00,2.165604e+00,3.737279e+00,5.881309e+00,8.343932e+00,3.336197e+00,5.007736e+00,1.377894
std,1.641580e+04,5.849426e+00,4.727973e+00,4.672993e+00,9.011535e+00,9.039147e+00,8.980698e+00,9.397407e+00,8.885820e+00,4.270267e+00,9.527486e+00,1.723886e+00,2.349878e+00,1.407769e+00,1.779174e+00,2.228974e+00,2.622441e+00,2.216637e+00,2.110896e+00,1.537642
min,6.001000e+03,0.000000e+00,7.292000e+01,5.800000e-01,-1.831000e+01,-2.310000e+01,-2.163000e+01,-1.380000e+01,-2.501000e+01,2.000000e-01,-2.466000e+01,3.500000e-01,7.100000e-01,0.000000e+00,2.000000e-01,5.000000e-01,1.070000e+00,0.000000e+00,3.200000e-01,0.000000
25%,4.804050e+04,0.000000e+00,9.307000e+01,4.840000e+00,1.105000e+01,2.290000e+00,2.320000e+00,1.807000e+01,5.150000e+00,9.810000e+00,1.100000e+01,2.690000e+00,4.130000e+00,1.060000e+00,2.480000e+00,4.200000e+00,6.450000e+00,1.480000e+00,3.470000e+00,0.000000
50%,4.819600e+04,3.000000e-02,9.755000e+01,7.910000e+00,1.894000e+01,9.730000e+00,9.730000e+00,2.599000e+01,1.244000e+01,1.291000e+01,1.931000e+01,3.810000e+00,5.670000e+00,1.980000e+00,3.440000e+00,5.650000e+00,8.210000e+00,3.020000e+00,4.670000e+00,1.000000
75%,4.835150e+04,9.300000e-01,1.001000e+02,1.272000e+01,2.586000e+01,1.713000e+01,1.713000e+01,3.232000e+01,2.018000e+01,1.567000e+01,2.665000e+01,5.130000e+00,7.370000e+00,3.000000e+00,4.630000e+00,7.350000e+00,9.950000e+00,4.870000e+00,6.190000e+00,2.468400
max,4.850700e+04,1.615900e+02,1.042200e+02,2.180000e+01,4.139000e+01,2.659000e+01,2.659000e+01,4.991000e+01,3.380000e+01,3.461000e+01,4.385000e+01,1.600000e+01,2.471000e+01,1.328000e+01,1.841000e+01,2.071000e+01,3.094000e+01,1.572000e+01,2.268000e+01,5.000000

In [29]:
tx_train.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
974970,6001,2000-01-01,0.12,99.77,5.97,7.89,6.28,6.28,10.21,5.88,...,7.72,3.01,5.03,0.46,4.57,4.55,8.58,0.76,7.82,NaN
974971,6001,2000-01-02,0.00,100.53,4.46,6.04,2.01,2.04,12.50,0.92,...,6.06,3.13,4.61,2.00,2.61,4.82,6.20,2.71,3.49,NaN
974972,6001,2000-01-03,0.10,100.92,4.85,7.73,3.39,3.40,15.06,3.06,...,7.67,2.42,3.43,1.36,2.07,3.39,4.74,2.15,2.59,NaN
974973,6001,2000-01-04,0.27,100.90,6.11,8.36,6.77,6.77,14.18,5.66,...,8.24,1.92,2.84,1.15,1.69,2.96,5.17,1.30,3.87,0.6079
974974,6001,2000-01-05,0.00,100.52,4.13,7.32,0.75,0.81,14.78,2.24,...,7.13,4.56,7.48,2.70,4.79,6.94,9.41,4.66,4.75,NaN

In [30]:
tx_val = drought_time_val_metadata[drought_time_val_metadata["fips"].isin(tx_ca_fips)]
tx_val.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,32448.000000
mean,40409.871795,2.315667,96.238421,9.177168,18.522201,9.964748,9.918177,25.264929,12.698126,12.566807,18.996151,4.037955,5.925083,2.157356,3.767726,5.891108,8.356814,3.347807,5.009019,0.803492
std,16415.827280,7.170372,4.717440,4.730696,8.859615,9.054329,8.968932,9.272577,8.743924,4.227996,9.384485,1.727426,2.350844,1.393330,1.776772,2.239846,2.636657,2.202890,2.100766,1.072322
min,6001.000000,0.000000,73.740000,0.650000,-16.400000,-24.700000,-19.110000,-8.400000,-24.040000,0.480000,-20.410000,0.460000,0.950000,0.000000,0.280000,0.650000,1.380000,0.000000,0.550000,0.000000
25%,48040.500000,0.000000,93.090000,5.090000,11.740000,3.150000,3.040000,18.610000,5.950000,9.740000,11.710000,2.700000,4.160000,1.070000,2.510000,4.220000,6.470000,1.490000,3.460000,0.000000
50%,48196.000000,0.020000,97.550000,8.290000,19.400000,10.550000,10.450000,26.420000,12.970000,12.670000,19.700000,3.820000,5.710000,1.980000,3.470000,5.680000,8.220000,3.060000,4.680000,0.162900
75%,48351.500000,0.980000,100.090000,13.270000,26.180000,17.870000,17.790000,32.580000,20.700000,15.440000,26.960000,5.130000,7.370000,2.990000,4.670000,7.330000,9.940000,4.870000,6.220000,1.338900
max,48507.000000,243.320000,103.780000,21.980000,40.620000,26.840000,26.840000,49.540000,32.150000,32.760000,43.250000,15.300000,19.510000,14.070000,16.020000,19.530000,23.740000,18.250000,19.900000,5.000000

In [31]:
#Create DB connection
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Drought"
# Create the database engine
engine = create_engine(db_string)
# Save dfs to SQL table using SQLalchemy
tx_test.to_sql(name='drought_time_series', con=engine, if_exists='replace')
tx_train.to_sql(name='drought_time_series', con=engine, if_exists='replace')
tx_val.to_sql(name='drought_time_series', con=engine, if_exists='replace')

In [ ]:
# Exporting dfs to csv for Postrgres import back up
tx_val.to_csv(f'{file_dir}/tx_ca_val_time_clean_data.csv',header=True,index=False)
tx_test.to_csv(f'{file_dir}/tx_ca_test_time_clean_data.csv',header=True,index=False)
tx_train.to_csv(f'{file_dir}/tx_ca_train_time_clean_data.csv',header=True,index=False)

In [32]:
weather_df.head()

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,...,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,53061,2020-01-21,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,...,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,53061,2020-01-22,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,...,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,53061,2020-01-23,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,...,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,17031,2020-01-24,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,...,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,53061,2020-01-24,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,...,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

In [34]:
pd.set_option('max_columns', None)
weather_df.describe()

,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,wind_speed,max_wind_speed,wind_gust,precipitation,fog,rain,snow,hail,thunder,tornado,mean_temp_3d_avg,mean_temp_5d_avg,mean_temp_10d_avg,mean_temp_15d_avg,max_temp_3d_avg,max_temp_5d_avg,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
count,7.724960e+05,772496.000000,772496.000000,756087.000000,755932.000000,755109.000000,702795.000000,402905.000000,655352.000000,691425.000000,721087.000000,717667.000000,456639.000000,683501.000000,756092.000000,756092.000000,756092.000000,756092.000000,756092.000000,756092.000000,752945.000000,749803.000000,740381.000000,734093.000000,750350.000000,745680.000000,732814.000000,723293.000000,752602.000000,749289.000000,739482.000000,732840.000000,699082.000000,695496.000000,685485.000000,678642.000000
mean,1.115774e+05,1095.838893,240.894839,63.719518,52.933793,76.339453,51.193949,1015.896585,687.789113,9.386747,5.833242,12.964109,22.556887,0.083213,0.081969,0.314513,0.024818,0.000250,0.086197,0.000022,63.826582,63.930841,64.181243,64.357338,76.467902,76.581377,76.848410,77.036569,53.023391,53.119427,53.354062,53.520905,51.288410,51.383494,51.601097,51.748440
std,3.809754e+05,3508.169264,988.954283,14.637832,15.259023,15.203585,16.344872,6.683503,430.038585,1.194599,3.481739,5.475857,7.053484,0.299125,0.274317,0.464322,0.155571,0.015808,0.280655,0.004742,14.119180,13.764003,13.177029,12.840479,14.515195,14.072567,13.354074,12.910035,14.617407,14.249595,13.671343,13.369534,15.714614,15.302272,14.684258,14.384477
min,7.600000e+01,2.050706,0.038490,-31.200000,-36.000000,-18.900000,-37.600000,961.100000,0.000000,0.000000,0.000000,1.000000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-30.100000,-25.460000,-16.620000,-11.653333,-16.566667,-12.560000,-5.210000,-0.540000,-35.666667,-34.200000,-28.170000,-22.986667,-36.700000,-33.240000,-23.290000,-16.606667
25%,1.248300e+04,428.600463,19.559249,54.000000,42.100000,67.500000,38.800000,1012.200000,17.100000,9.200000,3.300000,8.900000,17.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,54.300000,54.660000,55.280000,55.526667,67.700000,68.060000,68.620000,68.813333,42.333333,42.660000,43.410000,43.840000,39.400000,39.760000,40.550000,40.740000
50%,2.798900e+04,608.259345,47.951330,66.400000,55.000000,79.700000,53.600000,1015.700000,961.200000,9.900000,5.300000,12.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,66.266667,66.180000,66.180000,66.266667,79.366667,79.160000,79.160000,79.280000,54.666667,54.680000,54.630000,54.673333,53.400000,53.320000,53.160000,53.180000
75%,7.521600e+04,913.499979,129.528153,75.400000,65.500000,87.800000,65.100000,1019.700000,984.100000,10.000000,7.700000,15.900000,26.000000,0.010000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,75.200000,75.020000,74.830000,74.706667,87.400000,87.240000,87.010000,86.873333,65.000000,64.760000,64.470000,64.406667,64.666667,64.300000,64.020000,63.940000
max,1.005716e+07,145492.910697,28069.675983,109.600000,100.900000,129.200000,83.900000,1058.300000,999.800000,70.800000,37.700000,66.000000,82.000000,11.320000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,108.233333,107.780000,106.820000,105.360000,121.966667,121.000000,119.700000,118.153333,93.700000,93.300000,92.650000,90.826667,82.366667,81.580000,80.680000,79.920000

In [35]:
weather_df.isnull().sum()

fips                              163
date                                0
total_population                17835
area_sqmi                       17835
population_density_per_sqmi     17835
mean_temp                       34244
min_temp                        34399
max_temp                        35222
dewpoint                        87536
sea_level_pressure             387426
station_pressure               134979
visibility                      98906
wind_speed                      69244
max_wind_speed                  72664
wind_gust                      333692
precipitation                  106830
precip_flag                    106830
fog                             34239
rain                            34239
snow                            34239
hail                            34239
thunder                         34239
tornado                         34239
mean_temp_3d_avg                37386
mean_temp_5d_avg                40528
mean_temp_10d_avg               49950
mean_temp_15d_avg               56238
max_temp_3d_avg                 39981
max_temp_5d_avg                 44651
max_temp_10d_avg                57517
max_temp_15d_avg                67038
min_temp_3d_avg                 37729
min_temp_5d_avg                 41042
min_temp_10d_avg                50849
min_temp_15d_avg                57491
dewpoint_3d_avg                 91249
dewpoint_5d_avg                 94835
dewpoint_10d_avg               104846
dewpoint_15d_avg               111689
dtype: int64

In [36]:
# Cleaning Kaggle Weather dataset
nyc = ["NYC", "KSC","VI","PR","NaN","NMR"]
clean_weather_df = weather_df[~weather_df["fips"].isin(nyc)]
clean_weather_df.head()

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,wind_speed,max_wind_speed,wind_gust,precipitation,precip_flag,fog,rain,snow,hail,thunder,tornado,mean_temp_3d_avg,mean_temp_5d_avg,mean_temp_10d_avg,mean_temp_15d_avg,max_temp_3d_avg,max_temp_5d_avg,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,53061,2020-01-21,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,1.0,9.9,8.3,19.0,28.0,0.00,G,0.0,1.0,0.0,0.0,0.0,0.0,44.900000,46.02,45.12,42.753333,50.000000,51.20,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,53061,2020-01-22,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,8.5,9.6,13.2,21.0,26.0,0.29,G,0.0,1.0,0.0,0.0,0.0,0.0,46.266667,47.22,46.33,44.200000,50.666667,51.60,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,53061,2020-01-23,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,9.1,10.0,12.0,20.0,26.0,0.54,G,0.0,1.0,0.0,0.0,0.0,0.0,48.733333,47.48,46.89,44.620000,52.000000,51.82,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,17031,2020-01-24,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,989.6,2.5,4.8,9.9,NaN,0.16,G,1.0,1.0,1.0,0.0,0.0,0.0,34.233333,32.62,30.53,28.986667,37.333333,36.22,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,53061,2020-01-24,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,6.4,9.6,13.0,22.0,28.0,0.32,G,0.0,1.0,0.0,0.0,0.0,0.0,49.500000,48.14,47.02,45.446667,53.700000,52.44,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

In [37]:
clean_weather_df_2 = clean_weather_df.dropna('index', subset=['fips'])

In [44]:
pd.to_numeric(clean_weather_df_2["fips"], downcast='integer')

0         53061
1         53061
2         53061
3         17031
4         53061
          ...
790326    56037
790327    56039
790328    56041
790329    56043
790330    56045
Name: fips, Length: 771957, dtype: int32

In [47]:
clean_weather_tx_ca_df

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,wind_speed,max_wind_speed,wind_gust,precipitation,precip_flag,fog,rain,snow,hail,thunder,tornado,mean_temp_3d_avg,mean_temp_5d_avg,mean_temp_10d_avg,mean_temp_15d_avg,max_temp_3d_avg,max_temp_5d_avg,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,fips_int
5,6059,2020-01-25,3132211.0,790.621953,3961.705072,57.7,52.0,69.1,51.5,1016.6,14.5,3.7,3.1,8.9,NaN,0.0,G,1.0,0.0,0.0,0.0,0.0,0.0,58.933333,58.94,60.40,60.806667,70.033333,71.22,72.00,74.253333,51.700000,51.02,51.10,49.786667,51.333333,50.14,47.18,45.513333,6059
9,6037,2020-01-26,10057155.0,4058.183382,2478.240645,58.2,50.0,68.0,47.6,NaN,984.3,5.3,1.7,4.1,NaN,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,64.533333,65.78,65.72,65.220000,71.000000,73.04,71.60,71.240000,57.800000,56.84,58.10,57.200000,39.933333,36.46,32.72,33.020000,6037
10,6059,2020-01-26,3132211.0,790.621953,3961.705072,58.5,53.1,68.0,51.0,1020.1,18.2,5.1,3.6,7.0,NaN,0.0,G,0.0,0.0,0.0,0.0,0.0,0.0,58.233333,59.32,60.71,61.186667,70.033333,71.62,74.11,75.246667,51.700000,51.02,50.49,50.126667,50.066667,50.20,45.92,45.746667,6059
14,6037,2020-01-27,10057155.0,4058.183382,2478.240645,65.8,57.2,71.6,35.7,NaN,986.3,10.0,10.9,17.1,24.1,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,63.666667,65.02,67.55,64.546667,71.600000,71.24,74.12,70.760000,54.200000,57.56,58.64,56.600000,36.733333,33.72,31.16,33.020000,6037
15,6059,2020-01-27,3132211.0,790.621953,3961.705072,58.5,50.0,73.0,47.7,1021.8,19.7,6.0,2.8,8.9,NaN,0.0,G,0.0,0.0,0.0,0.0,0.0,0.0,59.433333,59.62,61.55,61.186667,72.000000,72.82,76.11,74.720000,51.033333,50.80,50.07,50.466667,49.333333,48.48,44.83,45.126667,6059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789958,48499,2020-12-04,43198.0,645.236037,66.949143,44.2,41.0,46.4,38.4,NaN,8.1,10.0,4.3,8.9,NaN,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48499
789959,48501,2020-12-04,8316.0,799.714739,10.398708,30.7,22.6,40.1,17.2,NaN,909.5,10.0,3.2,7.0,NaN,0.0,G,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48501
789960,48503,2020-12-04,18275.0,914.468641,19.984283,34.7,26.6,39.7,30.7,NaN,984.3,9.7,2.5,9.9,NaN,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48503
789961,48505,2020-12-04,14335.0,998.411980,14.357800,48.7,43.3,55.8,25.9,NaN,9.8,10.0,4.5,6.0,NaN,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48505
789962,48507,2020-12-04,12107.0,1297.406262,9.331695,43.0,35.6,49.6,29.7,NaN,991.7,10.0,5.0,8.9,NaN,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48507

In [41]:
clean_weather_df_3 = clean_weather_df_2
clean_weather_df_3["fips"] = clean_weather_df_3["fips"].apply(int)

<ipython-input-41-626460f1cb59>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_weather_df_3["fips"] = clean_weather_df_3["fips"].apply(int)

In [45]:
clean_weather_tx_ca_df = clean_weather_df_2[clean_weather_df_2["fips"].isin(tx_ca_fips)]

In [48]:
# Save df to SQL table using SQLalchemy
clean_weather_tx_ca_df.to_sql(name='weather_data', con=engine, if_exists='replace')

In [ ]:
# Export Clean weather data to csv for import backup
clean_weather_tx_ca_df.to_csv(f'{file_dir}/tx_clean_weather_data.csv',header=True,index=False)