In [1]:
import pandas as pd

In [4]:
#Create the path to your file directory and variables for the three files.
file_dir = '/Users/spencerramsey/Documents/UT_Bootcamp/Group-8-final-project/Spencer/Resources'

# Soil Data
soil_file = f'{file_dir}/soil_data.csv'


soil_metadata = pd.read_csv(soil_file, low_memory=False)

In [5]:
soil_metadata.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,1003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,1007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,1009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [6]:
covid_file = f'{file_dir}/US_counties_COVID19_health_weather_data.csv'

In [7]:
covid_metadata = pd.read_csv(covid_file, low_memory=False)
covid_metadata.head()

,date,county,state,fips,cases,deaths,stay_at_home_announced,stay_at_home_effective,lat,lon,...,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg,date_stay_at_home_announced,date_stay_at_home_effective
0,2020-01-21,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333,2020-03-23,2020-03-23
1,2020-01-22,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000,2020-03-23,2020-03-23
2,2020-01-23,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000,2020-03-23,2020-03-23
3,2020-01-24,Cook,Illinois,17031,1,0.0,no,no,41.840039,-87.816716,...,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333,2020-03-20,2020-03-21
4,2020-01-24,Snohomish,Washington,53061,1,0.0,no,no,48.047489,-121.697307,...,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333,2020-03-23,2020-03-23

In [9]:
list(covid_metadata.columns.values)

['date',
 'county',
 'state',
 'fips',
 'cases',
 'deaths',
 'stay_at_home_announced',
 'stay_at_home_effective',
 'lat',
 'lon',
 'total_population',
 'area_sqmi',
 'population_density_per_sqmi',
 'num_deaths',
 'years_of_potential_life_lost_rate',
 'percent_fair_or_poor_health',
 'average_number_of_physically_unhealthy_days',
 'average_number_of_mentally_unhealthy_days',
 'percent_low_birthweight',
 'percent_smokers',
 'percent_adults_with_obesity',
 'food_environment_index',
 'percent_physically_inactive',
 'percent_with_access_to_exercise_opportunities',
 'percent_excessive_drinking',
 'num_alcohol_impaired_driving_deaths',
 'num_driving_deaths',
 'percent_driving_deaths_with_alcohol_involvement',
 'num_chlamydia_cases',
 'chlamydia_rate',
 'teen_birth_rate',
 'num_uninsured',
 'percent_uninsured',
 'num_primary_care_physicians',
 'primary_care_physicians_rate',
 'num_dentists',
 'dentist_rate',
 'num_mental_health_providers',
 'mental_health_provider_rate',
 'preventable_hospitalization_rate',
 'percent_with_annual_mammogram',
 'percent_vaccinated',
 'high_school_graduation_rate',
 'num_some_college',
 'population',
 'percent_some_college',
 'num_unemployed_CHR',
 'labor_force',
 'percent_unemployed_CHR',
 'percent_children_in_poverty',
 'eightieth_percentile_income',
 'twentieth_percentile_income',
 'income_ratio',
 'num_single_parent_households_CHR',
 'num_households_CHR',
 'percent_single_parent_households_CHR',
 'num_associations',
 'social_association_rate',
 'annual_average_violent_crimes',
 'violent_crime_rate',
 'num_injury_deaths',
 'injury_death_rate',
 'average_daily_pm2_5',
 'presence_of_water_violation',
 'percent_severe_housing_problems',
 'severe_housing_cost_burden',
 'overcrowding',
 'inadequate_facilities',
 'percent_drive_alone_to_work',
 'num_workers_who_drive_alone',
 'percent_long_commute_drives_alone',
 'life_expectancy',
 'num_deaths_2',
 'age_adjusted_death_rate',
 'num_deaths_3',
 'child_mortality_rate',
 'num_deaths_4',
 'infant_mortality_rate',
 'percent_frequent_physical_distress',
 'percent_frequent_mental_distress',
 'percent_adults_with_diabetes',
 'num_hiv_cases',
 'hiv_prevalence_rate',
 'num_food_insecure',
 'percent_food_insecure',
 'num_limited_access',
 'percent_limited_access_to_healthy_foods',
 'num_drug_overdose_deaths',
 'drug_overdose_mortality_rate',
 'num_motor_vehicle_deaths',
 'motor_vehicle_mortality_rate',
 'percent_insufficient_sleep',
 'num_uninsured_2',
 'percent_uninsured_2',
 'num_uninsured_3',
 'percent_uninsured_3',
 'other_primary_care_provider_rate',
 'percent_disconnected_youth',
 'average_grade_performance',
 'average_grade_performance_2',
 'median_household_income',
 'percent_enrolled_in_free_or_reduced_lunch',
 'segregation_index',
 'segregation_index_2',
 'homicide_rate',
 'num_deaths_5',
 'suicide_rate_age_adjusted',
 'num_firearm_fatalities',
 'firearm_fatalities_rate',
 'juvenile_arrest_rate',
 'average_traffic_volume_per_meter_of_major_roadways',
 'num_homeowners',
 'percent_homeowners',
 'num_households_with_severe_cost_burden',
 'percent_severe_housing_cost_burden',
 'population_2',
 'percent_less_than_18_years_of_age',
 'percent_65_and_over',
 'num_black',
 'percent_black',
 'num_american_indian_alaska_native',
 'percent_american_indian_alaska_native',
 'num_asian',
 'percent_asian',
 'num_native_hawaiian_other_pacific_islander',
 'percent_native_hawaiian_other_pacific_islander',
 'num_hispanic',
 'percent_hispanic',
 'num_non_hispanic_white',
 'percent_non_hispanic_white',
 'num_not_proficient_in_english',
 'percent_not_proficient_in_english',
 'percent_female',
 'num_rural',
 'percent_rural',
 'num_housing_units',
 'num_households_CDC',
 'num_below_poverty',
 'num_unemployed_CDC',
 'per_capita_income',
 'num_no_highschool_diploma',
 'num_age_65_and_older',
 'num_age_17_and_younger',
 'num_disabled',
 'num_single_parent_households_CDC',
 'num_minorities',
 'num_limited_english_abilities',
 'num_multi_unit_housing',
 'num_mobile_homes',
 'num_overcrowding',
 'num_households_with_no_vehicle',
 'num_institutionalized_in_group_quarters',
 'percent_below_poverty',
 'percent_unemployed_CDC',
 'percent_no_highschool_diploma',
 'percent_age_65_and_older',
 'percent_age_17_and_younger',
 'percent_disabled',
 'percent_single_parent_households_CDC',
 'percent_minorities',
 'percent_limited_english_abilities',
 'percent_multi_unit_housing',
 'percent_mobile_homes',
 'percent_overcrowding',
 'percent_no_vehicle',
 'percent_institutionalized_in_group_quarters',
 'percentile_rank_below_poverty',
 'percentile_rank_unemployed',
 'percentile_rank_per_capita_income',
 'percentile_rank_no_highschool_diploma',
 'percentile_rank_socioeconomic_theme',
 'percentile_rank_age_65_and_older',
 'percentile_rank_age_17_and_younger',
 'percentile_rank_disabled',
 'percentile_rank_single_parent_households',
 'percentile_rank_household_comp_disability_theme',
 'percentile_rank_minorities',
 'percentile_rank_limited_english_abilities',
 'percentile_rank_minority_status_and_language_theme',
 'percentile_rank_multi_unit_housing',
 'percentile_rank_mobile_homes',
 'percentile_rank_overcrowding',
 'percentile_rank_no_vehicle',
 'percentile_rank_institutionalized_in_group_quarters',
 'percentile_rank_housing_and_transportation',
 'percentile_rank_social_vulnerability',
 'km_to_closest_station',
 'CALL',
 'ELEV_M',
 'station_id',
 'station_name',
 'mean_temp',
 'min_temp',
 'max_temp',
 'dewpoint',
 'sea_level_pressure',
 'station_pressure',
 'visibility',
 'wind_speed',
 'max_wind_speed',
 'wind_gust',
 'precipitation',
 'precip_flag',
 'fog',
 'rain',
 'snow',
 'hail',
 'thunder',
 'tornado',
 'mean_temp_3d_avg',
 'mean_temp_5d_avg',
 'mean_temp_10d_avg',
 'mean_temp_15d_avg',
 'max_temp_3d_avg',
 'max_temp_5d_avg',
 'max_temp_10d_avg',
 'max_temp_15d_avg',
 'min_temp_3d_avg',
 'min_temp_5d_avg',
 'min_temp_10d_avg',
 'min_temp_15d_avg',
 'dewpoint_3d_avg',
 'dewpoint_5d_avg',
 'dewpoint_10d_avg',
 'dewpoint_15d_avg',
 'date_stay_at_home_announced',
 'date_stay_at_home_effective']

In [100]:
weather_columns = ['fips',
 'date',
 'total_population',
 'area_sqmi',
 'population_density_per_sqmi',
 'mean_temp',
 'min_temp',
 'max_temp',
 'dewpoint',
 'sea_level_pressure',
 'station_pressure',
 'visibility',
 'wind_speed',
 'max_wind_speed',
 'wind_gust',
 'precipitation',
 'precip_flag',
 'fog',
 'rain',
 'snow',
 'hail',
 'thunder',
 'tornado',
 'mean_temp_3d_avg',
 'mean_temp_5d_avg',
 'mean_temp_10d_avg',
 'mean_temp_15d_avg',
 'max_temp_3d_avg',
 'max_temp_5d_avg',
 'max_temp_10d_avg',
 'max_temp_15d_avg',
 'min_temp_3d_avg',
 'min_temp_5d_avg',
 'min_temp_10d_avg',
 'min_temp_15d_avg',
 'dewpoint_3d_avg',
 'dewpoint_5d_avg',
 'dewpoint_10d_avg',
 'dewpoint_15d_avg',]

In [101]:
weather_df = covid_metadata[weather_columns]
weather_df.head()

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,...,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,53061,2020-01-21,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,...,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,53061,2020-01-22,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,...,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,53061,2020-01-23,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,...,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,17031,2020-01-24,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,...,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,53061,2020-01-24,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,...,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

In [103]:
weather_df.to_csv(f'{file_dir}/covid_weather_data.csv',header=True,index=False)

In [15]:
fips_drop = [
    60010,
60020,
60020,
60020,
60050,
66010,
66010,
69100,
69110,
69120,
69120,
72001,
72003,
72005,
72007,
72009,
72011,
72013,
72015,
72017,
72019,
72021,
72023,
72025,
72027,
72029,
72031,
72033,
72035,
72037,
72041,
72043,
72045,
72047,
72049,
72051,
72053,
72054,
72055,
72057,
72059,
72061,
72063,
72065,
72067,
72071,
72073,
72075,
72077,
72079,
72081,
72083,
72085,
72087,
72089,
72091,
72093,
72095,
72097,
72099,
72101,
72103,
72105,
72107,
72109,
72111,
72113,
72115,
72117,
72119,
72121,
72123,
72125,
72127,
72129,
72131,
72133,
72135,
72137,
72139,
72141,
72143,
72145,
72147,
72149,
72151,
72153,
78010,
78020,
78030
]

In [16]:
soil_metadata.describe()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
count,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000,3109.000000,...,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000
mean,30678.538437,38.280052,-91.659790,427.624638,0.054973,0.29775,0.319991,0.155878,0.053409,0.065323,...,28.494804,3.504682,31.999486,1.830492,1.553554,1.282084,1.35735,1.146993,1.135092,1.284979
std,14986.018730,4.838634,11.485291,500.158880,0.089873,0.21595,0.167727,0.128400,0.073107,0.125526,...,31.839502,10.290893,33.099657,1.192219,1.021382,1.002508,1.03011,0.922308,0.914502,1.017465
min,1001.000000,25.601043,-124.211407,-1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,19045.000000,34.686818,-98.046842,132.000000,0.008300,0.10510,0.185800,0.040800,0.000500,0.000000,...,0.143526,0.045909,1.602227,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
50%,29213.000000,38.328061,-90.181170,272.000000,0.028300,0.27100,0.347100,0.127500,0.012200,0.000700,...,14.043937,0.276606,18.811279,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
75%,46009.000000,41.703590,-83.373303,483.000000,0.068500,0.47750,0.459300,0.255200,0.090300,0.054100,...,51.737080,1.370315,60.637421,3.000000,2.000000,1.000000,1.00000,1.000000,1.000000,1.000000
max,56045.000000,48.842653,-67.609354,3561.000000,0.974000,0.75990,0.696900,0.571700,0.330000,0.606800,...,97.029572,99.956841,99.956841,7.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000

In [17]:
soil_metadata = soil_metadata[~soil_metadata["fips"].isin(fips_drop)]

In [18]:
soil_metadata.describe()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
count,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000,3109.000000,...,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000
mean,30678.538437,38.280052,-91.659790,427.624638,0.054973,0.29775,0.319991,0.155878,0.053409,0.065323,...,28.494804,3.504682,31.999486,1.830492,1.553554,1.282084,1.35735,1.146993,1.135092,1.284979
std,14986.018730,4.838634,11.485291,500.158880,0.089873,0.21595,0.167727,0.128400,0.073107,0.125526,...,31.839502,10.290893,33.099657,1.192219,1.021382,1.002508,1.03011,0.922308,0.914502,1.017465
min,1001.000000,25.601043,-124.211407,-1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,19045.000000,34.686818,-98.046842,132.000000,0.008300,0.10510,0.185800,0.040800,0.000500,0.000000,...,0.143526,0.045909,1.602227,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
50%,29213.000000,38.328061,-90.181170,272.000000,0.028300,0.27100,0.347100,0.127500,0.012200,0.000700,...,14.043937,0.276606,18.811279,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
75%,46009.000000,41.703590,-83.373303,483.000000,0.068500,0.47750,0.459300,0.255200,0.090300,0.054100,...,51.737080,1.370315,60.637421,3.000000,2.000000,1.000000,1.00000,1.000000,1.000000,1.000000
max,56045.000000,48.842653,-67.609354,3561.000000,0.974000,0.75990,0.696900,0.571700,0.330000,0.606800,...,97.029572,99.956841,99.956841,7.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000

In [32]:
soil_metadata[soil_metadata["fips"]==4]

KeyError: False

In [33]:
soil_metadata["fips"] = soil_metadata["fips"].apply(str)

In [34]:
soil_metadata["fips"] = soil_metadata["fips"].apply(lambda x: '{0:0>5}'.format(x))

In [35]:
soil_metadata.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,01001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,01005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,01003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,01007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,01009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [36]:
soil_metadata.to_csv(f'{file_dir}/soil_clean_data.csv',header=True)

In [39]:
for i in range(0, len(fips_drop)):
    fips_drop[i] = str(fips_drop[i])
fips_drop

['60010',
 '60020',
 '60020',
 '60020',
 '60050',
 '66010',
 '66010',
 '69100',
 '69110',
 '69120',
 '69120',
 '72001',
 '72003',
 '72005',
 '72007',
 '72009',
 '72011',
 '72013',
 '72015',
 '72017',
 '72019',
 '72021',
 '72023',
 '72025',
 '72027',
 '72029',
 '72031',
 '72033',
 '72035',
 '72037',
 '72041',
 '72043',
 '72045',
 '72047',
 '72049',
 '72051',
 '72053',
 '72054',
 '72055',
 '72057',
 '72059',
 '72061',
 '72063',
 '72065',
 '72067',
 '72071',
 '72073',
 '72075',
 '72077',
 '72079',
 '72081',
 '72083',
 '72085',
 '72087',
 '72089',
 '72091',
 '72093',
 '72095',
 '72097',
 '72099',
 '72101',
 '72103',
 '72105',
 '72107',
 '72109',
 '72111',
 '72113',
 '72115',
 '72117',
 '72119',
 '72121',
 '72123',
 '72125',
 '72127',
 '72129',
 '72131',
 '72133',
 '72135',
 '72137',
 '72139',
 '72141',
 '72143',
 '72145',
 '72147',
 '72149',
 '72151',
 '72153',
 '78010',
 '78020',
 '78030']

In [41]:
soil_metadata.describe()

,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,slope7,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
count,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,...,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000
mean,38.280052,-91.659790,427.624638,0.054973,0.29775,0.319991,0.155878,0.053409,0.065323,0.022223,...,28.494804,3.504682,31.999486,1.830492,1.553554,1.282084,1.35735,1.146993,1.135092,1.284979
std,4.838634,11.485291,500.158880,0.089873,0.21595,0.167727,0.128400,0.073107,0.125526,0.064127,...,31.839502,10.290893,33.099657,1.192219,1.021382,1.002508,1.03011,0.922308,0.914502,1.017465
min,25.601043,-124.211407,-1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,34.686818,-98.046842,132.000000,0.008300,0.10510,0.185800,0.040800,0.000500,0.000000,0.000000,...,0.143526,0.045909,1.602227,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
50%,38.328061,-90.181170,272.000000,0.028300,0.27100,0.347100,0.127500,0.012200,0.000700,0.000000,...,14.043937,0.276606,18.811279,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
75%,41.703590,-83.373303,483.000000,0.068500,0.47750,0.459300,0.255200,0.090300,0.054100,0.001200,...,51.737080,1.370315,60.637421,3.000000,2.000000,1.000000,1.00000,1.000000,1.000000,1.000000
max,48.842653,-67.609354,3561.000000,0.974000,0.75990,0.696900,0.571700,0.330000,0.606800,0.476500,...,97.029572,99.956841,99.956841,7.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000

In [42]:
soil_metadata_test = soil_metadata[~soil_metadata["fips"].isin(fips_drop)]

In [44]:
soil_metadata_test.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,01001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,01005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,01003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,01007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,01009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [47]:
soil_metadata.to_csv(f'{file_dir}/soil_clean_data.csv',header=True,index=False)

In [46]:
list(soil_metadata.columns.values)

['fips',
 'lat',
 'lon',
 'elevation',
 'slope1',
 'slope2',
 'slope3',
 'slope4',
 'slope5',
 'slope6',
 'slope7',
 'slope8',
 'aspectN',
 'aspectE',
 'aspectS',
 'aspectW',
 'aspectUnknown',
 'WAT_LAND',
 'NVG_LAND',
 'URB_LAND',
 'GRS_LAND',
 'FOR_LAND',
 'CULTRF_LAND',
 'CULTIR_LAND',
 'CULT_LAND',
 'SQ1',
 'SQ2',
 'SQ3',
 'SQ4',
 'SQ5',
 'SQ6',
 'SQ7']

In [52]:
count = 0
for i in soil_metadata["fips"]:
    print(i)

01001
01005
01003
01007
01009
01011
01013
01015
01017
01019
01021
01023
01025
01027
01029
01031
01033
01035
01037
01039
01041
01043
01045
01047
01049
01051
01053
01055
01057
01059
01061
01063
01065
01067
01069
01071
01073
01075
01077
01079
01081
01083
01085
01087
01089
01091
01093
01095
01097
01099
01101
01103
01105
01107
01109
01111
01113
01115
01117
01119
01121
01123
01125
01127
01129
01131
01133
04001
04003
04005
04007
04009
04011
04012
04013
04015
04017
04019
04021
04023
04025
04027
05001
05003
05005
05007
05009
05011
05013
05015
05017
05019
05021
05023
05025
05027
05029
05031
05033
05035
05037
05039
05041
05043
05045
05047
05049
05051
05053
05055
05057
05059
05061
05063
05065
05067
05069
05071
05073
05075
05077
05079
05081
05083
05085
05087
05089
05091
05093
05095
05097
05099
05101
05103
05105
05107
05109
05111
05113
05115
05117
05119
05121
05123
05125
05127
05129
05131
05133
05135
05137
05139
05141
05143
05145
05147
05149
06001
06003
06005
06007
06009
06011
06013
06015
06017
06019
06021
06023
06025
06027
06029
06031
06033
06035
06037
06039
06041
06043
06045
06047
06049
06051
06053
06055
06057
06059
06061
06063
06065
06067
06069
06071
06073
06075
06077
06079
06081
06083
06085
06087
06089
06091
06093
06095
06097
06099
06101
06103
06105
06107
06109
06111
06113
06115
08001
08003
08005
08007
08009
08011
08013
08014
08015
08017
08019
08021
08023
08025
08027
08029
08031
08033
08035
08037
08039
08041
08043
08045
08047
08049
08051
08053
08055
08057
08059
08061
08063
08065
08067
08069
08071
08073
08075
08077
08079
08081
08083
08085
08087
08089
08091
08095
08093
08097
08099
08101
08103
08105
08107
08109
08111
08113
08117
08115
08119
08121
08123
08125
09001
09003
09005
09007
09009
09011
09013
09015
10001
10003
10005
11001
12001
12003
12005
12007
12009
12011
12013
12015
12017
12019
12021
12023
12027
12029
12031
12033
12035
12037
12039
12041
12043
12045
12047
12049
12051
12053
12055
12057
12059
12061
12063
12065
12067
12069
12071
12073
12075
12077
12079
12081
12083
12085
12086
12087
12089
12091
12093
12095
12097
12099
12101
12103
12105
12107
12109
12111
12113
12115
12117
12119
12121
12123
12125
12127
12129
12131
12133
13001
13003
13005
13007
13009
13011
13013
13015
13017
13019
13021
13023
13025
13027
13029
13031
13033
13035
13037
13039
13043
13045
13047
13049
13051
13053
13055
13057
13059
13061
13063
13065
13067
13069
13071
13073
13075
13077
13079
13081
13083
13085
13087
13089
13091
13093
13095
13097
13099
13101
13103
13105
13107
13109
13111
13113
13115
13117
13119
13121
13123
13125
13127
13129
13131
13133
13135
13137
13139
13141
13143
13145
13147
13149
13151
13153
13155
13157
13159
13161
13163
13165
13167
13169
13171
13173
13175
13177
13179
13181
13183
13185
13187
13189
13191
13193
13195
13197
13199
13201
13205
13207
13209
13211
13213
13215
13217
13219
13221
13223
13225
13227
13229
13231
13233
13235
13237
13239
13241
13243
13245
13247
13249
13251
13253
13255
13257
13259
13261
13263
13265
13267
13269
13271
13273
13275
13277
13279
13281
13283
13285
13287
13289
13291
13293
13295
13297
13299
13301
13303
13305
13307
13309
13311
13313
13315
13317
13321
13319
16001
16005
16003
16007
16009
16011
16013
16017
16019
16021
16015
16023
16025
16027
16029
16033
16035
16037
16031
16039
16041
16043
16045
16049
16051
16047
16053
16055
16057
16059
16063
16061
16065
16067
16069
16071
16075
16073
16077
16079
16081
16083
16087
16085
17001
17003
17005
17007
17011
17009
17013
17015
17017
17019
17023
17021
17025
17027
17029
17031
17035
17033
17037
17039
17041
17043
17047
17045
17049
17051
17053
17055
17057
17059
17061
17063
17065
17067
17069
17071
17073
17075
17077
17079
17081
17083
17085
17089
17087
17091
17093
17095
17097
17099
17101
17103
17105
17107
17109
17111
17113
17115
17117
17121
17119
17123
17125
17127
17129
17131
17133
17135
17137
17139
17141
17143
17145
17147
17149
17151
17153
17155
17157
17159
17161
17163
17165
17167
17169
17173
17171
17175
17177
17179
17181
17185
17183
17187
17189
17191
17193
17197
17195
17199
17201
17203
18001
18003
18005
18007
18009
18011
18015
18013
18017
18019
18021
18023
18025
18027
18029
18031
18033
18035
18037
18039
18041
18043
18045
18047
18049
18051
18053
18055
18057
18059
18061
18063
18065
18067
18069
18071
18073
18075
18077
18079
18081
18083
18085
18087
18089
18091
18093
18095
18097
18099
18101
18103
18105
18107
18109
18111
18113
18115
18117
18119
18121
18123
18125
18127
18129
18131
18133
18135
18137
18139
18141
18143
18145
18147
18149
18151
18153
18155
18157
18159
18161
18163
18165
18167
18169
18171
18173
18175
18177
18179
18181
18183
19003
19001
19005
19007
19009
19011
19013
19015
19017
19019
19021
19023
19025
19027
19029
19031
19033
19035
19037
19039
19041
19043
19045
19047
19049
19051
19053
19055
19057
19059
19061
19063
19065
19067
19069
19071
19079
19077
19075
19081
19087
19089
19083
19085
19073
19091
19095
19093
19097
19099
19101
19107
19105
19111
19113
19115
19109
19117
19103
19119
19121
19123
19125
19129
19127
19133
19135
19131
19137
19139
19141
19145
19147
19143
19151
19153
19149
19155
19157
19159
19163
19161
19165
19169
19171
19167
19173
19175
19179
19181
19177
19183
19187
19189
19185
19191
19193
19197
19195
20001
20003
20005
20007
20009
20011
20015
20013
20017
20021
20019
20023
20025
20027
20029
20031
20033
20035
20037
20039
20041
20045
20043
20047
20049
20051
20053
20055
20057
20061
20059
20065
20063
20067
20069
20071
20073
20077
20075
20081
20079
20083
20085
20087
20089
20093
20091
20095
20097
20099
20101
20105
20103
20107
20109
20111
20113
20115
20117
20119
20121
20123
20125
20127
20129
20131
20133
20135
20137
20139
20141
20143
20147
20145
20151
20153
20149
20157
20155
20161
20159
20163
20165
20169
20167
20173
20175
20171
20179
20177
20181
20185
20187
20183
20191
20193
20195
20189
20197
20199
20203
20201
20205
20207
21001
21003
20209
21005
21011
21009
21007
21013
21015
21019
21021
21017
21023
21027
21029
21025
21031
21033
21039
21035
21037
21041
21045
21047
21043
21049
21053
21051
21055
21057
21059
21063
21061
21065
21067
21069
21071
21073
21075
21077
21079
21081
21083
21085
21087
21089
21091
21093
21095
21097
21099
21101
21103
21105
21107
21111
21109
21113
21115
21117
21119
21121
21123
21127
21125
21129
21131
21133
21135
21137
21139
21143
21141
21145
21147
21151
21149
21153
21155
21159
21157
21163
21161
21165
21167
21169
21171
21173
21175
21177
21179
21181
21183
21185
21189
21187
21191
21193
21195
21197
21199
21201
21203
21205
21207
21209
21211
21213
21215
21217
21219
21221
21223
21225
21227
21229
21231
21233
21235
21237
21239
22001
22003
22005
22007
22009
22011
22013
22015
22017
22019
22021
22023
22025
22027
22029
22031
22033
22035
22037
22039
22041
22043
22045
22047
22049
22051
22053
22055
22057
22059
22061
22063
22065
22067
22069
22071
22073
22075
22077
22079
22081
22083
22085
22087
22089
22091
22093
22095
22097
22099
22101
22103
22105
22107
22109
22111
22113
22115
22117
22119
22121
22123
22125
22127
23001
23003
23005
23007
23009
23011
23013
23015
23017
23019
23021
23023
23025
23027
23029
23031
24001
24003
24005
24009
24011
24013
24015
24017
24019
24021
24023
24025
24027
24029
24031
24033
24035
24037
24039
24041
24043
24045
24047
24510
25001
25003
25005
25007
25009
25011
25013
25015
25017
25019
25021
25023
25025
25027
26001
26003
26005
26007
26009
26011
26013
26015
26017
26019
26027
26021
26029
26025
26023
26031
26033
26035
26037
26039
26041
26043
26045
26047
26049
26051
26053
26055
26057
26059
26061
26063
26067
26065
26069
26073
26071
26075
26077
26079
26081
26085
26083
26089
26087
26091
26093
26097
26095
26099
26101
26103
26105
26107
26109
26111
26113
26115
26117
26119
26121
26123
26125
26127
26129
26131
26133
26135
26137
26139
26141
26143
26145
26147
26149
26151
26153
26155
26157
26159
26161
26163
26165
27001
27003
27005
27007
27009
27011
27013
27015
27017
27019
27021
27023
27025
27027
27029
27031
27033
27035
27037
27039
27041
27043
27045
27047
27049
27051
27053
27055
27057
27059
27061
27063
27065
27067
27069
27071
27075
27073
27077
27079
27081
27083
27085
27087
27089
27091
27093
27095
27097
27101
27099
27103
27107
27105
27109
27111
27113
27115
27117
27119
27123
27121
27125
27127
27129
27131
27133
27135
27139
27137
27141
27143
27145
27147
27149
27151
27153
27155
27157
27159
27161
27163
27165
27167
27169
27171
27173
28001
28003
28005
28007
28009
28011
28013
28015
28017
28019
28021
28023
28025
28027
28029
28031
28033
28035
28037
28039
28041
28043
28045
28047
28049
28051
28053
28055
28057
28059
28061
28063
28065
28067
28069
28071
28073
28075
28077
28079
28081
28083
28085
28087
28089
28091
28093
28095
28097
28099
28101
28103
28105
28107
28109
28111
28113
28115
28117
28121
28119
28123
28125
28127
28129
28131
28133
28135
28137
28139
28141
28143
28145
28147
28149
28151
28153
28155
28157
28159
28161
28163
29001
29005
29003
29007
29009
29011
29013
29015
29017
29019
29021
29023
29025
29027
29029
29031
29033
29035
29037
29039
29041
29043
29045
29047
29049
29051
29053
29055
29057
29059
29061
29063
29065
29067
29069
29071
29073
29075
29077
29081
29079
29087
29085
29091
29089
29083
29093
29095
29097
29099
29101
29107
29109
29103
29111
29105
29113
29115
29117
29119
29123
29121
29127
29129
29131
29133
29125
29135
29139
29141
29143
29137
29145
29149
29147
29151
29153
29155
29159
29157
29161
29165
29167
29163
29169
29171
29175
29173
29177
29179
29183
29181
29185
29186
29189
29187
29195
29197
29201
29203
29199
29205
29209
29207
29211
29213
29215
29219
29217
29221
29225
29223
29227
29229
29510
30003
30005
30001
30009
30007
30011
30013
30015
30017
30021
30019
30025
30023
30027
30029
30031
30033
30037
30035
30039
30041
30043
30045
30047
30049
30055
30051
30053
30057
30059
30061
30063
30065
30067
30071
30069
30073
30075
30077
30079
30083
30081
30087
30085
30089
30091
30093
30095
30099
30097
30101
30103
30105
30107
30109
30111
31001
31003
31005
31007
31009
31011
31013
31015
31019
31017
31021
31023
31025
31027
31029
31031
31035
31033
31037
31039
31041
31045
31043
31047
31049
31051
31053
31055
31057
31061
31059
31063
31065
31067
31069
31071
31073
31075
31077
31079
31081
31083
31085
31087
31089
31091
31093
31095
31097
31099
31101
31103
31105
31107
31109
31111
31113
31115
31117
31119
31121
31123
31125
31127
31129
31131
31133
31135
31137
31139
31141
31143
31145
31147
31149
31151
31153
31155
31157
31159
31161
31163
31165
31167
31169
31171
31173
31175
31177
31179
31181
31183
31185
32001
32003
32005
32007
32009
32011
32013
32015
32017
32019
32021
32023
32027
32029
32031
32033
32510
33001
33003
33005
33007
33009
33011
33013
33015
33017
33019
34001
34003
34005
34007
34009
34011
34013
34023
34015
34025
34021
34027
34029
34019
34017
34031
34033
34035
34037
34039
35005
35006
35007
34041
35003
35009
35001
35011
35013
35015
35021
35017
35019
35025
35027
35028
35023
35029
35035
35031
35037
35033
35039
35043
35045
35041
35049
35047
35053
35055
35051
35057
35061
35059
36003
36001
36005
36009
36007
36011
36015
36013
36019
36017
36021
36025
36023
36027
36031
36029
36035
36033
36037
36041
36039
36043
36047
36045
36051
36049
36053
36057
36055
36059
36063
36061
36067
36065
36069
36071
36073
36075
36079
36077
36083
36081
36087
36085
36089
36091
36095
36093
36097
36099
36103
36101
36105
36107
36109
36113
36111
36115
36119
36121
36117
37001
36123
37003
37005
37007
37009
37013
37015
37017
37019
37011
37021
37023
37025
37027
37029
37031
37035
37037
37039
37033
37041
37043
37045
37047
37049
37051
37053
37055
37057
37059
37061
37063
37065
37067
37069
37071
37073
37075
37077
37079
37083
37081
37085
37087
37089
37091
37093
37095
37097
37099
37101
37103
37105
37107
37109
37111
37113
37115
37117
37119
37121
37123
37125
37127
37129
37131
37133
37135
37137
37139
37141
37143
37145
37147
37149
37151
37153
37155
37157
37159
37161
37163
37165
37167
37169
37171
37173
37175
37177
37179
37181
37183
37185
37187
37189
37191
37193
37195
37197
37199
38001
38003
38005
38007
38009
38011
38013
38015
38017
38019
38021
38023
38025
38027
38029
38031
38033
38035
38037
38039
38041
38043
38045
38047
38049
38051
38053
38055
38057
38059
38061
38063
38065
38067
38069
38071
38073
38075
38077
38079
38081
38083
38085
38087
38089
38091
38093
38097
38095
38099
38101
38103
38105
39001
39003
39005
39007

39009
39011
39013
39015
39017
39021
39031
39025
39023
39029
39027
39041
39035
39033
39037
39039
39019
39043
39045
39047
39049
39053
39051
39055
39057
39059
39061
39065
39067
39069
39073
39063
39071
39075
39077
39079
39081
39083
39085
39087
39089
39091
39099
39095
39101
39097
39103
39105
39093
39107
39109
39111
39113
39115
39119
39117
39123
39121
39125
39129
39131
39133
39135
39127
39137
39139
39143
39141
39147
39145
39149
39151
39153
39155
39159
39161
39163
39157
39167
39165
39171
39169
39173
39175
40001
40003
40005
40007
40011
40009
40013
40015
40019
40017
40021
40023
40025
40027
40029
40031
40033
40035
40037
40039
40043
40041
40045
40047
40049
40051
40053
40055
40057
40059
40061
40063
40067
40065
40069
40071
40073
40075
40077
40079
40081
40083
40085
40087
40091
40089
40093
40095
40097
40103
40099
40101
40105
40107
40109
40111
40113
40115
40117
40119
40121
40123
40125
40127
40129
40131
40133
40137
40135
40139
40141
40143
40145
40147
40149
40151
40153
41001
41003
41007
41005
41009
41011
41013
41015
41017
41019
41021
41023
41025
41027
41031
41029
41033
41035
41037
41039
41041
41043
41045
41047
41049
41051
41053
41055
41057
41061
41059
41063
41065
41067
41069
41071
42001
42003
42005
42009
42007
42011
42013
42015
42017
42019
42021
42023
42025
42027
42029
42031
42033
42035
42037
42039
42041
42043
42045
42047
42049
42051
42053
42057
42055
42059
42061
42063
42065
42067
42069
42071
42073
42077
42075
42079
42081
42083
42085
42087
42089
42093
42091
42095
42097
42099
42101
42103
42105
42107
42109
42111
42113
42115
42117
42119
42121
42125
42123
42127
42129
42131
42133
44001
44003
44005
44007
44009
45001
45005
45003
45007
45009
45011
45013
45015
45017
45019
45021
45023
45025
45027
45029
45031
45033
45035
45037
45039
45041
45045
45043
45047
45051
45053
45055
45061
45065
45057
45059
45063
45067
45069
45049
45071
45073
45077
45079
45075
45083
45081
45089
45085
46003
45087
46007
46005
45091
46009
46017
46013
46011
46021
46015
46019
46025
46023
46031
46027
46033
46029
46035
46039
46037
46041
46045
46043
46049
46047
46053
46051
46057
46055
46059
46061
46065
46063
46069
46067
46073
46071
46075
46077
46081
46079
46085
46083
46089
46087
46093
46091
46095
46097
46101
46099
46103
46102
46107
46105
46111
46109
46115
46117
46119
46121
46125
46123
46129
46127
46137
46135
47001
47003
47005
47009
47007
47011
47013
47015
47019
47017
47021
47023
47025
47029
47027
47033
47031
47035
47037
47039
47041
47043
47045
47047
47049
47051
47053
47055
47057
47059
47061
47063
47065
47067
47069
47071
47075
47073
47077
47081
47079
47083
47085
47087
47089
47093
47091
47095
47097
47099
47101
47103
47105
47107
47109
47111
47113
47115
47117
47119
47121
47123
47127
47125
47129
47131
47133
47135
47139
47137
47141
47145
47143
47147
47149
47151
47153
47155
47157
47159
47161
47165
47163
47167
47169
47171
47173
47175
47177
47179
47181
47185
47183
47187
48001
47189
48003
48005
48007
48009
48011
48013
48015
48017
48019
48021
48023
48025
48027
48029
48031
48033
48035
48037
48039
48043
48041
48045
48047
48049
48051
48055
48053
48057
48059
48063
48061
48065
48067
48069
48071
48073
48075
48077
48079
48081
48083
48085
48087
48089
48091
48093
48095
48097
48099
48101
48103
48105
48107
48109
48111
48113
48119
48115
48117
48123
48121
48125
48127
48129
48131
48133
48137
48135
48139
48141
48143
48147
48145
48149
48151
48153
48155
48157
48159
48161
48171
48163
48167
48179
48165
48169
48173
48175
48177
48181
48183
48185
48189
48191
48193
48195
48197
48187
48203
48199
48201
48205
48207
48209
48211
48213
48215
48217
48221
48219
48229
48227
48223
48231
48225
48233
48235
48237
48239
48241
48245
48247
48243
48251
48249
48255
48253
48257
48259
48261
48263
48265
48267
48271
48269
48275
48273
48279
48277
48281
48283
48285
48287
48289
48291
48295
48293
48299
48297
48301
48303
48305
48307
48309
48311
48313
48315
48319
48317
48321
48325
48323
48327
48329
48331
48333
48335
48337
48339
48341
48343
48345
48349
48347
48351
48353
48355
48357
48359
48361
48363
48365
48367
48369
48371
48373
48375
48377
48379
48381
48383
48395
48385
48397
48399
48389
48391
48401
48393
48387
48403
48405
48407
48411
48413
48419
48409
48415
48425
48417
48421
48427
48423
48429
48431
48433
48435
48441
48437
48439
48447
48443
48445
48451
48449
48453
48455
48457
48459
48461
48465
48463
48467
48471
48475
48469
48473
48477
48479
48481
48485
48483
48487
48491
48489
48493
48495
48499
48497
48501
48503
48505
48507
49003
49001
49007
49005
49011
49009
49013
49015
49017
49019
49023
49021
49027
49025
49029
49031
49033
49035
49037
49039
49041
49043
49047
49045
49049
49051
49053
49055
49057
50001
50003
50005
50007
50009
50011
50013
50015
50017
50019
50021
50023
50025
50027
51001
51003
51005
51007
51009
51011
51013
51015
51017
51019
51021
51023
51025
51027
51029
51031
51033
51035
51036
51037
51041
51043
51045
51047
51049
51051
51053
51057
51059
51063
51061
51065
51067
51069
51071
51073
51075
51077
51079
51083
51081
51087
51085
51089
51091
51093
51095
51097
51099
51101
51103
51105
51107
51109
51111
51113
51115
51117
51119
51121
51125
51127
51131
51133
51137
51135
51139
51141
51143
51145
51147
51153
51149
51155
51157
51159
51161
51163
51165
51167
51169
51171
51173
51175
51177
51179
51181
51183
51187
51185
51191
51193
51195
51197
51199
51510
51515
51540
51520
51550
51570
51530
51580
51590
51595
51600
51610
51620
51630
51640
51650
51660
51678
51683
51680
51685
51670
51690
51700
51710
51720
51730
51735
51740
51750
51760
51770
51790
51800
51810
51775
51820
51830
51840
53001
53003
53005
53007
53011
53009
53013
53017
53015
53019
53021
53023
53025
53027
53031
53029
53033
53035
53037
53041
53039
53043
53045
53047
53049
53051
53053
53055
53057
53059
53073
53069
54001
53075
54013
54005
53065
54011
54009
53067
54015
54007
53077
53063
53071
54017
53061
54003
54019
54021
54023
54025
54029
54031
54027
54037
54035
54033
54045
54039
54041
54049
54043
54051
54053
54047
54055
54057
54059
54061
54065
54063
54067
54071
54069
54075
54073
54077
54087
54081
54079
54083
54089
54085
54091
54093
54095
54097
54101
54099
54103
54105
55001
54107
54109
55003
55009
55007
55005
55013
55015
55017
55011
55021
55019
55023
55029
55025
55027
55031
55037
55033
55035
55043
55039
55045
55047
55041
55051
55049
55053
55057
55055
55059
55061
55065
55063
55071
55067
55069
55075
55073
55077
55079
55078
55085
55081
55083
55087
55089
55093
55091
55097
55095
55099
55103
55101
55107
55105
55109
55113
55111
55115
55117
55119
55121
55123
55127
55125
55129
55133
55131
55137
55135
55139
55141
56001
56003
56005
56007
56009
56013
56011
56015
56017
56021
56019
56025
56023
56027
56029
56031
56033
56035
56037
56039
56043
56041
56045

In [55]:
test_file = f'{file_dir}/test_timeseries.csv'
test_time_series_df = pd.read_csv(test_file, low_memory=False)

In [56]:
test_time_series_df.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,...,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
1,1001,2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,...,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2,1001,2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,...,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
3,1001,2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,...,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
4,1001,2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,...,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN

In [57]:
tx_ca_fips = [6001,
6003,
6005,
6007,
6009,
6011,
6013,
6015,
6017,
6019,
6021,
6023,
6025,
6027,
6029,
6031,
6033,
6035,
6037,
6039,
6041,
6043,
6045,
6047,
6049,
6051,
6053,
6055,
6057,
6059,
6061,
6063,
6065,
6067,
6069,
6071,
6073,
6075,
6077,
6079,
6081,
6083,
6085,
6087,
6089,
6091,
6093,
6095,
6097,
6099,
6101,
6103,
6105,
6107,
6109,
6111,
6113,
6115,
48001,
48003,
48005,
48007,
48009,
48011,
48013,
48015,
48017,
48019,
48021,
48023,
48025,
48027,
48029,
48031,
48033,
48035,
48037,
48039,
48041,
48043,
48045,
48047,
48049,
48051,
48053,
48055,
48057,
48059,
48061,
48063,
48065,
48067,
48069,
48071,
48073,
48075,
48077,
48079,
48081,
48083,
48085,
48087,
48089,
48091,
48093,
48095,
48097,
48099,
48101,
48103,
48105,
48107,
48109,
48111,
48113,
48115,
48117,
48119,
48121,
48123,
48125,
48127,
48129,
48131,
48133,
48135,
48137,
48139,
48141,
48143,
48145,
48147,
48149,
48151,
48153,
48155,
48157,
48159,
48161,
48163,
48165,
48167,
48169,
48171,
48173,
48175,
48177,
48179,
48181,
48183,
48185,
48187,
48189,
48191,
48193,
48195,
48197,
48199,
48201,
48203,
48205,
48207,
48209,
48211,
48213,
48215,
48217,
48219,
48221,
48223,
48225,
48227,
48229,
48231,
48233,
48235,
48237,
48239,
48241,
48243,
48245,
48247,
48249,
48251,
48253,
48255,
48257,
48259,
48261,
48263,
48265,
48267,
48269,
48271,
48273,
48275,
48277,
48279,
48281,
48283,
48285,
48287,
48289,
48291,
48293,
48295,
48297,
48299,
48301,
48303,
48305,
48307,
48309,
48311,
48313,
48315,
48317,
48319,
48321,
48323,
48325,
48327,
48329,
48331,
48333,
48335,
48337,
48339,
48341,
48343,
48345,
48347,
48349,
48351,
48353,
48355,
48357,
48359,
48361,
48363,
48365,
48367,
48369,
48371,
48373,
48375,
48377,
48379,
48381,
48383,
48385,
48387,
48389,
48391,
48393,
48395,
48397,
48399,
48401,
48403,
48405,
48407,
48409,
48411,
48413,
48415,
48417,
48419,
48421,
48423,
48425,
48427,
48429,
48431,
48433,
48435,
48437,
48439,
48441,
48443,
48445,
48447,
48449,
48451,
48453,
48455,
48457,
48459,
48461,
48463,
48465,
48467,
48469,
48471,
48473,
48475,
48477,
48479,
48481,
48483,
48485,
48487,
48489,
48491,
48493,
48495,
48497,
48499,
48501,
48503,
48505,
48507]

In [71]:
tx_ca_soil_test = soil_metadata[soil_metadata["fips"].isin(tx_ca_fips)]

In [70]:
soil_metadata.describe()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
count,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000,3109.000000,...,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000
mean,30678.538437,38.280052,-91.659790,427.624638,0.054973,0.29775,0.319991,0.155878,0.053409,0.065323,...,28.494804,3.504682,31.999486,1.830492,1.553554,1.282084,1.35735,1.146993,1.135092,1.284979
std,14986.018730,4.838634,11.485291,500.158880,0.089873,0.21595,0.167727,0.128400,0.073107,0.125526,...,31.839502,10.290893,33.099657,1.192219,1.021382,1.002508,1.03011,0.922308,0.914502,1.017465
min,1001.000000,25.601043,-124.211407,-1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,19045.000000,34.686818,-98.046842,132.000000,0.008300,0.10510,0.185800,0.040800,0.000500,0.000000,...,0.143526,0.045909,1.602227,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
50%,29213.000000,38.328061,-90.181170,272.000000,0.028300,0.27100,0.347100,0.127500,0.012200,0.000700,...,14.043937,0.276606,18.811279,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
75%,46009.000000,41.703590,-83.373303,483.000000,0.068500,0.47750,0.459300,0.255200,0.090300,0.054100,...,51.737080,1.370315,60.637421,3.000000,2.000000,1.000000,1.00000,1.000000,1.000000,1.000000
max,56045.000000,48.842653,-67.609354,3561.000000,0.974000,0.75990,0.696900,0.571700,0.330000,0.606800,...,97.029572,99.956841,99.956841,7.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000

In [69]:
soil_metadata["fips"] = soil_metadata["fips"].apply(int)

In [77]:
tx_ca_soil_test["fips"].describe()

count      312.000000
mean     40409.871795
std      16442.162008
min       6001.000000
25%      48040.500000
50%      48196.000000
75%      48351.500000
max      48507.000000
Name: fips, dtype: float64

In [79]:
dtt_file = f'{file_dir}/test_timeseries.csv'
drought_time_test_metadata = pd.read_csv(dtt_file, low_memory=False)
drought_time_test_metadata.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,...,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
1,1001,2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,...,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2,1001,2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,...,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
3,1001,2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,...,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
4,1001,2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,...,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN

In [80]:
tx_ca_soil_test.to_csv(f'{file_dir}/tx_ca_soil_clean_data.csv',header=True,index=False)

In [81]:
dttrain_file = f'{file_dir}/train_timeseries.csv'
drought_time_train_metadata = pd.read_csv(dttrain_file, low_memory=False)
drought_time_train_metadata.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN

In [82]:
dtv_file = f'{file_dir}/validation_timeseries.csv'
drought_time_val_metadata = pd.read_csv(dtv_file, low_memory=False)
drought_time_val_metadata.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2017-01-01,32.50,100.02,10.47,14.69,14.47,14.47,17.68,10.53,...,14.63,2.14,2.71,1.52,1.19,4.40,5.96,2.25,3.71,NaN
1,1001,2017-01-02,63.52,100.04,12.75,17.96,17.75,17.75,20.30,16.14,...,17.85,2.75,4.31,1.60,2.71,5.50,8.16,4.05,4.11,NaN
2,1001,2017-01-03,18.82,99.69,9.74,14.24,13.44,13.44,18.48,9.29,...,14.06,2.25,3.73,1.64,2.09,4.80,7.27,2.54,4.72,2.0
3,1001,2017-01-04,0.01,100.02,5.21,8.10,3.86,3.88,11.74,2.12,...,8.08,2.63,3.95,1.34,2.60,4.98,6.16,3.36,2.80,NaN
4,1001,2017-01-05,0.01,99.89,4.54,5.91,2.20,2.22,13.07,-0.18,...,5.85,1.76,2.76,0.47,2.28,3.43,4.70,0.66,4.04,NaN

In [83]:
drought_time_test_metadata.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,2.271948e+06,326340.000000
mean,3.067038e+04,2.938845e+00,9.666175e+01,8.223259e+00,1.294575e+01,7.782536e+00,7.793077e+00,1.861224e+01,7.737146e+00,1.087509e+01,1.298156e+01,3.528208e+00,5.177723e+00,1.880345e+00,3.297381e+00,5.486035e+00,7.804205e+00,3.060228e+00,4.743982e+00,0.413486
std,1.497911e+04,6.719112e+00,5.443289e+00,4.925266e+00,1.085940e+01,1.033316e+01,1.010450e+01,1.140387e+01,1.063210e+01,3.850620e+00,1.106347e+01,1.834560e+00,2.618564e+00,1.310424e+00,1.971088e+00,2.291324e+00,2.869980e+00,2.071117e+00,2.202233e+00,0.838403
min,1.001000e+03,0.000000e+00,6.675000e+01,1.000000e-01,-3.857000e+01,-4.154000e+01,-3.859000e+01,-3.133000e+01,-4.546000e+01,1.200000e-01,-4.123000e+01,2.600000e-01,6.000000e-01,0.000000e+00,2.300000e-01,5.200000e-01,1.040000e+00,0.000000e+00,4.500000e-01,0.000000
25%,1.904450e+04,0.000000e+00,9.586000e+01,3.960000e+00,4.530000e+00,-1.600000e-01,-1.100000e-01,1.018000e+01,-5.000000e-01,8.140000e+00,4.410000e+00,2.120000e+00,3.110000e+00,9.400000e-01,1.820000e+00,3.790000e+00,5.670000e+00,1.410000e+00,3.160000e+00,0.000000
50%,2.921200e+04,2.100000e-01,9.830000e+01,7.060000e+00,1.389000e+01,8.250000e+00,8.090000e+00,2.014000e+01,8.080000e+00,1.078000e+01,1.388000e+01,3.140000e+00,4.680000e+00,1.620000e+00,2.820000e+00,5.100000e+00,7.310000e+00,2.720000e+00,4.300000e+00,0.000000
75%,4.600750e+04,2.540000e+00,9.996000e+01,1.222000e+01,2.223000e+01,1.685000e+01,1.671000e+01,2.787000e+01,1.680000e+01,1.353000e+01,2.236000e+01,4.540000e+00,6.710000e+00,2.530000e+00,4.300000e+00,6.820000e+00,9.450000e+00,4.320000e+00,5.860000e+00,0.406525
max,5.604300e+04,2.493400e+02,1.038800e+02,2.252000e+01,4.033000e+01,2.705000e+01,2.700000e+01,4.830000e+01,3.232000e+01,2.965000e+01,4.347000e+01,1.748000e+01,2.497000e+01,1.651000e+01,2.207000e+01,2.058000e+01,2.993000e+01,1.922000e+01,2.634000e+01,5.000000

In [84]:
drought_time_train_metadata.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,1.930068e+07,2.756796e+06
mean,3.067038e+04,2.644145e+00,9.665578e+01,7.816178e+00,1.280146e+01,6.951072e+00,6.986916e+00,1.868141e+01,7.411665e+00,1.126974e+01,1.288900e+01,3.564013e+00,5.195993e+00,1.928879e+00,3.267113e+00,5.525151e+00,7.811798e+00,3.130077e+00,4.681721e+00,8.245298e-01
std,1.497911e+04,6.226305e+00,5.447994e+00,4.694305e+00,1.092674e+01,1.014551e+01,1.009116e+01,1.154487e+01,1.057680e+01,4.005165e+00,1.114961e+01,1.862297e+00,2.627969e+00,1.351713e+00,1.947028e+00,2.321549e+00,2.861210e+00,2.122751e+00,2.171263e+00,1.223727e+00
min,1.001000e+03,0.000000e+00,6.612000e+01,1.200000e-01,-3.734000e+01,-3.770000e+01,-3.746000e+01,-3.220000e+01,-4.596000e+01,3.000000e-02,-3.823000e+01,2.500000e-01,5.400000e-01,0.000000e+00,1.600000e-01,4.000000e-01,7.000000e-01,0.000000e+00,3.200000e-01,0.000000e+00
25%,1.904450e+04,0.000000e+00,9.584000e+01,3.780000e+00,4.450000e+00,-9.600000e-01,-9.200000e-01,1.027000e+01,-7.000000e-01,8.420000e+00,4.340000e+00,2.140000e+00,3.110000e+00,9.600000e-01,1.810000e+00,3.790000e+00,5.680000e+00,1.450000e+00,3.130000e+00,0.000000e+00
50%,2.921200e+04,1.800000e-01,9.830000e+01,6.840000e+00,1.402000e+01,7.570000e+00,7.580000e+00,2.040000e+01,8.030000e+00,1.124000e+01,1.404000e+01,3.140000e+00,4.670000e+00,1.660000e+00,2.800000e+00,5.120000e+00,7.310000e+00,2.770000e+00,4.250000e+00,0.000000e+00
75%,4.600750e+04,2.160000e+00,9.996000e+01,1.135000e+01,2.188000e+01,1.552000e+01,1.552000e+01,2.787000e+01,1.614000e+01,1.408000e+01,2.207000e+01,4.600000e+00,6.750000e+00,2.580000e+00,4.250000e+00,6.880000e+00,9.460000e+00,4.410000e+00,5.770000e+00,1.189600e+00
max,5.604300e+04,2.345900e+02,1.043200e+02,2.292000e+01,4.139000e+01,2.755000e+01,2.755000e+01,4.991000e+01,3.380000e+01,3.461000e+01,4.385000e+01,2.369000e+01,3.628000e+01,1.720000e+01,2.825000e+01,2.835000e+01,4.273000e+01,2.087000e+01,3.243000e+01,5.000000e+00

In [85]:
drought_time_val_metadata.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,2.268840e+06,323232.000000
mean,3.067038e+04,2.945218e+00,9.668289e+01,8.209934e+00,1.313680e+01,7.626656e+00,7.631953e+00,1.884739e+01,7.903998e+00,1.094340e+01,1.321793e+01,3.533742e+00,5.165298e+00,1.904352e+00,3.260947e+00,5.486969e+00,7.762958e+00,3.104674e+00,4.658297e+00,0.538601
std,1.497911e+04,6.883588e+00,5.443892e+00,4.905189e+00,1.093575e+01,1.049740e+01,1.035683e+01,1.151619e+01,1.064708e+01,3.951253e+00,1.113432e+01,1.845010e+00,2.607319e+00,1.342821e+00,1.927159e+00,2.310433e+00,2.851491e+00,2.115034e+00,2.155684e+00,0.916711
min,1.001000e+03,0.000000e+00,6.686000e+01,1.600000e-01,-3.329000e+01,-3.701000e+01,-3.358000e+01,-2.859000e+01,-3.815000e+01,2.000000e-02,-3.548000e+01,3.700000e-01,6.000000e-01,0.000000e+00,2.200000e-01,4.600000e-01,8.700000e-01,0.000000e+00,3.000000e-01,0.000000
25%,1.904450e+04,0.000000e+00,9.588000e+01,3.920000e+00,4.670000e+00,-4.400000e-01,-4.800000e-01,1.035000e+01,-4.400000e-01,8.140000e+00,4.540000e+00,2.120000e+00,3.110000e+00,9.400000e-01,1.810000e+00,3.770000e+00,5.640000e+00,1.420000e+00,3.110000e+00,0.000000
50%,2.921200e+04,1.900000e-01,9.832000e+01,7.260000e+00,1.458000e+01,8.510000e+00,8.420000e+00,2.081000e+01,8.670000e+00,1.090000e+01,1.461000e+01,3.140000e+00,4.670000e+00,1.640000e+00,2.810000e+00,5.120000e+00,7.300000e+00,2.760000e+00,4.220000e+00,0.000000
75%,4.600750e+04,2.500000e+00,9.998000e+01,1.218000e+01,2.251000e+01,1.671000e+01,1.665000e+01,2.824000e+01,1.701000e+01,1.364000e+01,2.269000e+01,4.560000e+00,6.710000e+00,2.560000e+00,4.250000e+00,6.830000e+00,9.420000e+00,4.390000e+00,5.760000e+00,1.000000
max,5.604300e+04,2.433200e+02,1.040600e+02,2.198000e+01,4.062000e+01,2.684000e+01,2.684000e+01,5.003000e+01,3.304000e+01,3.319000e+01,4.325000e+01,2.494000e+01,3.176000e+01,1.629000e+01,2.319000e+01,2.952000e+01,3.738000e+01,2.085000e+01,2.890000e+01,5.000000

In [86]:
tx_test = drought_time_test_metadata[drought_time_test_metadata["fips"].isin(tx_ca_fips)]
tx_test.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,228072.000000,32760.000000
mean,40409.871795,1.986021,96.216333,9.102738,18.438624,9.913830,9.926625,25.249499,12.541534,12.707966,18.888764,4.029950,5.944089,2.133776,3.810305,5.881682,8.385312,3.279981,5.105341,0.890052
std,16415.827231,5.890570,4.717200,4.784877,8.959268,9.034183,8.774252,9.367895,8.845992,4.092900,9.483549,1.685859,2.338099,1.365713,1.817589,2.169116,2.610490,2.141784,2.159186,1.137131
min,6001.000000,0.000000,73.790000,0.520000,-15.760000,-26.920000,-20.550000,-10.190000,-23.870000,0.310000,-20.850000,0.470000,0.940000,0.000000,0.360000,0.760000,1.310000,0.000000,0.610000,0.000000
25%,48040.500000,0.000000,93.070000,4.990000,11.230000,3.000000,3.050000,18.160000,5.390000,9.930000,11.140000,2.730000,4.190000,1.060000,2.530000,4.270000,6.540000,1.480000,3.530000,0.000000
50%,48196.000000,0.030000,97.540000,8.090000,19.180000,10.290000,10.090000,26.150000,12.710000,12.870000,19.480000,3.830000,5.740000,1.970000,3.490000,5.700000,8.270000,3.000000,4.760000,0.218850
75%,48351.500000,0.890000,100.080000,13.050000,26.450000,17.740000,17.600000,32.960000,20.620000,15.610000,27.180000,5.130000,7.400000,2.960000,4.700000,7.310000,9.940000,4.790000,6.300000,1.705600
max,48507.000000,249.340000,103.320000,21.800000,40.330000,26.710000,26.620000,48.080000,32.320000,28.460000,43.470000,15.090000,22.580000,10.930000,16.070000,19.590000,28.570000,13.600000,19.650000,5.000000

In [89]:
tx_train = drought_time_train_metadata[drought_time_train_metadata["fips"].isin(tx_ca_fips)]

In [90]:
tx_train.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,1.937520e+06,276744.000000
mean,4.040987e+04,2.041661e+00,9.623395e+01,8.848427e+00,1.809202e+01,9.293358e+00,9.330828e+00,2.490349e+01,1.217804e+01,1.272545e+01,1.856343e+01,4.029788e+00,5.902891e+00,2.165604e+00,3.737279e+00,5.881309e+00,8.343932e+00,3.336197e+00,5.007736e+00,1.377894
std,1.641580e+04,5.849426e+00,4.727973e+00,4.672993e+00,9.011535e+00,9.039147e+00,8.980698e+00,9.397407e+00,8.885820e+00,4.270267e+00,9.527486e+00,1.723886e+00,2.349878e+00,1.407769e+00,1.779174e+00,2.228974e+00,2.622441e+00,2.216637e+00,2.110896e+00,1.537642
min,6.001000e+03,0.000000e+00,7.292000e+01,5.800000e-01,-1.831000e+01,-2.310000e+01,-2.163000e+01,-1.380000e+01,-2.501000e+01,2.000000e-01,-2.466000e+01,3.500000e-01,7.100000e-01,0.000000e+00,2.000000e-01,5.000000e-01,1.070000e+00,0.000000e+00,3.200000e-01,0.000000
25%,4.804050e+04,0.000000e+00,9.307000e+01,4.840000e+00,1.105000e+01,2.290000e+00,2.320000e+00,1.807000e+01,5.150000e+00,9.810000e+00,1.100000e+01,2.690000e+00,4.130000e+00,1.060000e+00,2.480000e+00,4.200000e+00,6.450000e+00,1.480000e+00,3.470000e+00,0.000000
50%,4.819600e+04,3.000000e-02,9.755000e+01,7.910000e+00,1.894000e+01,9.730000e+00,9.730000e+00,2.599000e+01,1.244000e+01,1.291000e+01,1.931000e+01,3.810000e+00,5.670000e+00,1.980000e+00,3.440000e+00,5.650000e+00,8.210000e+00,3.020000e+00,4.670000e+00,1.000000
75%,4.835150e+04,9.300000e-01,1.001000e+02,1.272000e+01,2.586000e+01,1.713000e+01,1.713000e+01,3.232000e+01,2.018000e+01,1.567000e+01,2.665000e+01,5.130000e+00,7.370000e+00,3.000000e+00,4.630000e+00,7.350000e+00,9.950000e+00,4.870000e+00,6.190000e+00,2.468400
max,4.850700e+04,1.615900e+02,1.042200e+02,2.180000e+01,4.139000e+01,2.659000e+01,2.659000e+01,4.991000e+01,3.380000e+01,3.461000e+01,4.385000e+01,1.600000e+01,2.471000e+01,1.328000e+01,1.841000e+01,2.071000e+01,3.094000e+01,1.572000e+01,2.268000e+01,5.000000

In [91]:
tx_train.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
974970,6001,2000-01-01,0.12,99.77,5.97,7.89,6.28,6.28,10.21,5.88,...,7.72,3.01,5.03,0.46,4.57,4.55,8.58,0.76,7.82,NaN
974971,6001,2000-01-02,0.00,100.53,4.46,6.04,2.01,2.04,12.50,0.92,...,6.06,3.13,4.61,2.00,2.61,4.82,6.20,2.71,3.49,NaN
974972,6001,2000-01-03,0.10,100.92,4.85,7.73,3.39,3.40,15.06,3.06,...,7.67,2.42,3.43,1.36,2.07,3.39,4.74,2.15,2.59,NaN
974973,6001,2000-01-04,0.27,100.90,6.11,8.36,6.77,6.77,14.18,5.66,...,8.24,1.92,2.84,1.15,1.69,2.96,5.17,1.30,3.87,0.6079
974974,6001,2000-01-05,0.00,100.52,4.13,7.32,0.75,0.81,14.78,2.24,...,7.13,4.56,7.48,2.70,4.79,6.94,9.41,4.66,4.75,NaN

In [92]:
tx_val = drought_time_val_metadata[drought_time_val_metadata["fips"].isin(tx_ca_fips)]
tx_val.describe()

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
count,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,227760.000000,32448.000000
mean,40409.871795,2.315667,96.238421,9.177168,18.522201,9.964748,9.918177,25.264929,12.698126,12.566807,18.996151,4.037955,5.925083,2.157356,3.767726,5.891108,8.356814,3.347807,5.009019,0.803492
std,16415.827280,7.170372,4.717440,4.730696,8.859615,9.054329,8.968932,9.272577,8.743924,4.227996,9.384485,1.727426,2.350844,1.393330,1.776772,2.239846,2.636657,2.202890,2.100766,1.072322
min,6001.000000,0.000000,73.740000,0.650000,-16.400000,-24.700000,-19.110000,-8.400000,-24.040000,0.480000,-20.410000,0.460000,0.950000,0.000000,0.280000,0.650000,1.380000,0.000000,0.550000,0.000000
25%,48040.500000,0.000000,93.090000,5.090000,11.740000,3.150000,3.040000,18.610000,5.950000,9.740000,11.710000,2.700000,4.160000,1.070000,2.510000,4.220000,6.470000,1.490000,3.460000,0.000000
50%,48196.000000,0.020000,97.550000,8.290000,19.400000,10.550000,10.450000,26.420000,12.970000,12.670000,19.700000,3.820000,5.710000,1.980000,3.470000,5.680000,8.220000,3.060000,4.680000,0.162900
75%,48351.500000,0.980000,100.090000,13.270000,26.180000,17.870000,17.790000,32.580000,20.700000,15.440000,26.960000,5.130000,7.370000,2.990000,4.670000,7.330000,9.940000,4.870000,6.220000,1.338900
max,48507.000000,243.320000,103.780000,21.980000,40.620000,26.840000,26.840000,49.540000,32.150000,32.760000,43.250000,15.300000,19.510000,14.070000,16.020000,19.530000,23.740000,18.250000,19.900000,5.000000

In [93]:
tx_val.to_csv(f'{file_dir}/tx_ca_val_time_clean_data.csv',header=True,index=False)
tx_test.to_csv(f'{file_dir}/tx_ca_test_time_clean_data.csv',header=True,index=False)
tx_train.to_csv(f'{file_dir}/tx_ca_train_time_clean_data.csv',header=True,index=False)

In [97]:
weather_df.head()

,date,fips,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,...,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,2020-01-21,53061,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,...,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,2020-01-22,53061,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,...,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,2020-01-23,53061,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,...,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,2020-01-24,17031,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,...,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,2020-01-24,53061,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,...,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

In [99]:
weather_df["fips"].tail()

790326    56037
790327    56039
790328    56041
790329    56043
790330    56045
Name: fips, dtype: object

In [102]:
weather_df["fips"] = weather_df["fips"].apply(int)

ValueError: invalid literal for int() with base 10: 'NYC'

In [94]:
tx_ca_weather_df = weather_df[weather_df["fips"].isin(tx_ca_fips)]
tx_ca_weather_df.describe()

,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,...,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
weather_df.to_csv(f'{file_dir}/covid_weather_data.csv',header=True,index=False)

In [106]:
pd.set_option('max_columns', None)
weather_df.describe()

,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,wind_speed,max_wind_speed,wind_gust,precipitation,fog,rain,snow,hail,thunder,tornado,mean_temp_3d_avg,mean_temp_5d_avg,mean_temp_10d_avg,mean_temp_15d_avg,max_temp_3d_avg,max_temp_5d_avg,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
count,7.724960e+05,772496.000000,772496.000000,756087.000000,755932.000000,755109.000000,702795.000000,402905.000000,655352.000000,691425.000000,721087.000000,717667.000000,456639.000000,683501.000000,756092.000000,756092.000000,756092.000000,756092.000000,756092.000000,756092.000000,752945.000000,749803.000000,740381.000000,734093.000000,750350.000000,745680.000000,732814.000000,723293.000000,752602.000000,749289.000000,739482.000000,732840.000000,699082.000000,695496.000000,685485.000000,678642.000000
mean,1.115774e+05,1095.838893,240.894839,63.719518,52.933793,76.339453,51.193949,1015.896585,687.789113,9.386747,5.833242,12.964109,22.556887,0.083213,0.081969,0.314513,0.024818,0.000250,0.086197,0.000022,63.826582,63.930841,64.181243,64.357338,76.467902,76.581377,76.848410,77.036569,53.023391,53.119427,53.354062,53.520905,51.288410,51.383494,51.601097,51.748440
std,3.809754e+05,3508.169264,988.954283,14.637832,15.259023,15.203585,16.344872,6.683503,430.038585,1.194599,3.481739,5.475857,7.053484,0.299125,0.274317,0.464322,0.155571,0.015808,0.280655,0.004742,14.119180,13.764003,13.177029,12.840479,14.515195,14.072567,13.354074,12.910035,14.617407,14.249595,13.671343,13.369534,15.714614,15.302272,14.684258,14.384477
min,7.600000e+01,2.050706,0.038490,-31.200000,-36.000000,-18.900000,-37.600000,961.100000,0.000000,0.000000,0.000000,1.000000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-30.100000,-25.460000,-16.620000,-11.653333,-16.566667,-12.560000,-5.210000,-0.540000,-35.666667,-34.200000,-28.170000,-22.986667,-36.700000,-33.240000,-23.290000,-16.606667
25%,1.248300e+04,428.600463,19.559249,54.000000,42.100000,67.500000,38.800000,1012.200000,17.100000,9.200000,3.300000,8.900000,17.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,54.300000,54.660000,55.280000,55.526667,67.700000,68.060000,68.620000,68.813333,42.333333,42.660000,43.410000,43.840000,39.400000,39.760000,40.550000,40.740000
50%,2.798900e+04,608.259345,47.951330,66.400000,55.000000,79.700000,53.600000,1015.700000,961.200000,9.900000,5.300000,12.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,66.266667,66.180000,66.180000,66.266667,79.366667,79.160000,79.160000,79.280000,54.666667,54.680000,54.630000,54.673333,53.400000,53.320000,53.160000,53.180000
75%,7.521600e+04,913.499979,129.528153,75.400000,65.500000,87.800000,65.100000,1019.700000,984.100000,10.000000,7.700000,15.900000,26.000000,0.010000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,75.200000,75.020000,74.830000,74.706667,87.400000,87.240000,87.010000,86.873333,65.000000,64.760000,64.470000,64.406667,64.666667,64.300000,64.020000,63.940000
max,1.005716e+07,145492.910697,28069.675983,109.600000,100.900000,129.200000,83.900000,1058.300000,999.800000,70.800000,37.700000,66.000000,82.000000,11.320000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,108.233333,107.780000,106.820000,105.360000,121.966667,121.000000,119.700000,118.153333,93.700000,93.300000,92.650000,90.826667,82.366667,81.580000,80.680000,79.920000

In [108]:
weather_bool = ["fog","rain","snow","hail","thunder","tornado"]
for column in weather_bool:
    weather_df[column] = weather_df[column].apply(int)

ValueError: cannot convert float NaN to integer

In [109]:
weather_df.isnull().sum()

fips                              163
date                                0
total_population                17835
area_sqmi                       17835
population_density_per_sqmi     17835
mean_temp                       34244
min_temp                        34399
max_temp                        35222
dewpoint                        87536
sea_level_pressure             387426
station_pressure               134979
visibility                      98906
wind_speed                      69244
max_wind_speed                  72664
wind_gust                      333692
precipitation                  106830
precip_flag                    106830
fog                             34239
rain                            34239
snow                            34239
hail                            34239
thunder                         34239
tornado                         34239
mean_temp_3d_avg                37386
mean_temp_5d_avg                40528
mean_temp_10d_avg               49950
mean_temp_15d_avg               56238
max_temp_3d_avg                 39981
max_temp_5d_avg                 44651
max_temp_10d_avg                57517
max_temp_15d_avg                67038
min_temp_3d_avg                 37729
min_temp_5d_avg                 41042
min_temp_10d_avg                50849
min_temp_15d_avg                57491
dewpoint_3d_avg                 91249
dewpoint_5d_avg                 94835
dewpoint_10d_avg               104846
dewpoint_15d_avg               111689
dtype: int64

In [159]:
nyc = ["NYC", "KSC","VI","PR","NaN","NMR"]
clean_weather_df = weather_df[~weather_df["fips"].isin(nyc)]
clean_weather_df.head()

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,wind_speed,max_wind_speed,wind_gust,precipitation,precip_flag,fog,rain,snow,hail,thunder,tornado,mean_temp_3d_avg,mean_temp_5d_avg,mean_temp_10d_avg,mean_temp_15d_avg,max_temp_3d_avg,max_temp_5d_avg,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,53061,2020-01-21,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,1.0,9.9,8.3,19.0,28.0,0.00,G,0.0,1.0,0.0,0.0,0.0,0.0,44.900000,46.02,45.12,42.753333,50.000000,51.20,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,53061,2020-01-22,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,8.5,9.6,13.2,21.0,26.0,0.29,G,0.0,1.0,0.0,0.0,0.0,0.0,46.266667,47.22,46.33,44.200000,50.666667,51.60,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,53061,2020-01-23,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,9.1,10.0,12.0,20.0,26.0,0.54,G,0.0,1.0,0.0,0.0,0.0,0.0,48.733333,47.48,46.89,44.620000,52.000000,51.82,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,17031,2020-01-24,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,989.6,2.5,4.8,9.9,NaN,0.16,G,1.0,1.0,1.0,0.0,0.0,0.0,34.233333,32.62,30.53,28.986667,37.333333,36.22,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,53061,2020-01-24,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,6.4,9.6,13.0,22.0,28.0,0.32,G,0.0,1.0,0.0,0.0,0.0,0.0,49.500000,48.14,47.02,45.446667,53.700000,52.44,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

In [162]:
clean_weather_df_2 = clean_weather_df.dropna('index', subset=['fips'])

In [164]:
clean_weather_df_2["fips"] = clean_weather_df_2["fips"].apply(int)

In [165]:
clean_weather_tx_ca_df = clean_weather_df_2[clean_weather_df_2["fips"].isin(tx_ca_fips)]

In [166]:
clean_weather_tx_ca_df.to_csv(f'{file_dir}/tx_clean_weather_data.csv',header=True,index=False)

In [154]:
tx_ca_weather_clean_df = tx_ca_weather_df.dropna('index', subset=['fips'])

In [158]:
tx_ca_weather_clean_df.head()
#tx_ca_weather_clean_df.loc["fips"] = tx_ca_weather_clean_df.loc["fips"].apply(int)

,fips,date,total_population,area_sqmi,population_density_per_sqmi,mean_temp,min_temp,max_temp,dewpoint,sea_level_pressure,station_pressure,visibility,wind_speed,max_wind_speed,wind_gust,precipitation,precip_flag,fog,rain,snow,hail,thunder,tornado,mean_temp_3d_avg,mean_temp_5d_avg,mean_temp_10d_avg,mean_temp_15d_avg,max_temp_3d_avg,max_temp_5d_avg,max_temp_10d_avg,max_temp_15d_avg,min_temp_3d_avg,min_temp_5d_avg,min_temp_10d_avg,min_temp_15d_avg,dewpoint_3d_avg,dewpoint_5d_avg,dewpoint_10d_avg,dewpoint_15d_avg
0,53061,2020-01-21,758649.0,2086.572826,363.586159,44.1,37.0,50.0,40.3,1006.3,1.0,9.9,8.3,19.0,28.0,0.00,G,0.0,1.0,0.0,0.0,0.0,0.0,44.900000,46.02,45.12,42.753333,50.000000,51.20,51.01,48.433333,38.266667,38.92,38.44,36.146667,40.333333,41.64,40.74,37.973333
1,53061,2020-01-22,758649.0,2086.572826,363.586159,44.8,37.9,48.0,40.3,1014.3,8.5,9.6,13.2,21.0,26.0,0.29,G,0.0,1.0,0.0,0.0,0.0,0.0,46.266667,47.22,46.33,44.200000,50.666667,51.60,51.82,49.486667,39.233333,41.12,39.76,37.613333,42.633333,42.98,41.68,39.440000
2,53061,2020-01-23,758649.0,2086.572826,363.586159,49.9,42.8,54.0,47.3,1014.5,9.1,10.0,12.0,20.0,26.0,0.54,G,0.0,1.0,0.0,0.0,0.0,0.0,48.733333,47.48,46.89,44.620000,52.000000,51.82,51.75,50.233333,42.900000,41.74,41.15,38.226667,44.733333,43.72,42.47,40.120000
3,17031,2020-01-24,5227575.0,944.990922,5531.878539,36.1,34.0,39.0,34.7,1013.4,989.6,2.5,4.8,9.9,NaN,0.16,G,1.0,1.0,1.0,0.0,0.0,0.0,34.233333,32.62,30.53,28.986667,37.333333,36.22,34.91,33.693333,32.366667,30.02,27.43,24.886667,31.433333,28.50,25.00,22.693333
4,53061,2020-01-24,758649.0,2086.572826,363.586159,51.5,48.0,54.0,46.6,1011.9,6.4,9.6,13.0,22.0,28.0,0.32,G,0.0,1.0,0.0,0.0,0.0,0.0,49.500000,48.14,47.02,45.446667,53.700000,52.44,51.44,51.093333,44.600000,42.54,41.75,38.226667,46.000000,44.30,42.88,41.293333

AttributeError: 'NoneType' object has no attribute 'head'